In [1]:
import pandas as pd
import re 
import matplotlib.pyplot as plt 
import numpy as np

In [561]:
FAO_Codes=pd.read_csv('../Data/Food/FAO_codes_latest.csv')
FAO_Codes=FAO_Codes.drop_duplicates()
FAO_Codes=FAO_Codes.drop_duplicates(subset=['Country Code','ISO3 Code'])
FAO_Codes=FAO_Codes.loc[~FAO_Codes['ISO3 Code'].isin(['X06','X01','X21'])]
FAO_Codes = FAO_Codes.fillna(0)
FAO_Codes['M49 Code']=FAO_Codes['M49 Code'].astype(int)
FAO_Codes

,Country Code,Country,M49 Code,ISO2 Code,ISO3 Code,Start Year,End Year
0,2,Afghanistan,4,AF,AFG,0.0,0.0
4,284,Åland Islands,248,0,ALA,0.0,0.0
6,3,Albania,8,AL,ALB,0.0,0.0
8,4,Algeria,12,DZ,DZA,0.0,0.0
10,5,American Samoa,16,AS,ASM,0.0,0.0
...,...,...,...,...,...,...,...
641,246,Yemen Ar Rp,886,0,0,0.0,0.0
642,247,Yemen Dem,720,0,0,0.0,0.0
643,248,Yugoslav SFR,890,0,0,0.0,1991.0
645,251,Zambia,894,ZM,ZMB,0.0,0.0
647,181,Zimbabwe,716,ZW,ZWE,0.0,0.0

In [571]:
Region=pd.read_excel('../Data/Food/Food  Waste Data Set - Copy.xlsx',sheet_name=2)
Region

,Economy,Code,Region,Income group,Lending category,Other (EMU or HIPC),FAO_Region
0,Aruba,ABW,Latin America & Caribbean,High income,NaN,NaN,NaN
1,Afghanistan,AFG,South Asia,Low income,IDA,HIPC,South & South East Asia
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD,NaN,Sub-Saharan Africa
3,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD,NaN,Europe
4,Andorra,AND,Europe & Central Asia,High income,NaN,NaN,NaN
...,...,...,...,...,...,...,...
260,Sub-Saharan Africa,SSF,NaN,NaN,NaN,NaN,NaN
261,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN,NaN,NaN,NaN
262,Sub-Saharan Africa (IDA & IBRD),TSS,NaN,NaN,NaN,NaN,NaN
263,Upper middle income,UMC,NaN,NaN,NaN,NaN,NaN
264,World,WLD,NaN,NaN,NaN,NaN,NaN

In [648]:
CO2_Total_waste=pd.read_csv('../Data/Food/Emissions_Agriculture_Waste_Disposal_E_All_Data_NOFLAG.csv',encoding="ISO-8859-1",nrows=5310)
CO2_Total_waste

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1990,Y1991,Y1992,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,6988,Domestic wastewater,723112,Emissions (CO2eq) (SAR),gigagrams,419.901499,440.671818,472.420303,...,962.389617,995.571727,1030.081332,1064.462367,1093.234718,1121.974463,1153.359017,1181.324134,1209.834493,1238.129459
1,2,Afghanistan,6988,Domestic wastewater,723113,Emissions (CO2eq) (AR5),gigagrams,518.274253,547.411452,589.781746,...,1197.317328,1237.644761,1280.545370,1324.160792,1362.891741,1400.845236,1440.118932,1475.747489,1511.363532,1546.710498
2,2,Afghanistan,6988,Domestic wastewater,723114,Emissions (CO2eq) (AR4),gigagrams,479.960149,505.378087,543.192573,...,1104.573100,1142.200251,1181.792456,1221.656087,1256.085059,1290.123658,1326.254124,1358.751666,1391.544104,1424.088797
3,2,Afghanistan,6988,Domestic wastewater,7225,CH4 emissions,gigagrams,15.855898,16.988609,18.504321,...,37.282544,38.472991,39.806585,41.222253,42.628969,43.961088,45.199592,46.366236,47.485250,48.595810
4,2,Afghanistan,6988,Domestic wastewater,7230,N2O emissions,gigagrams,0.280412,0.270681,0.270418,...,0.578891,0.605287,0.626268,0.641274,0.638795,0.641263,0.658605,0.669784,0.685949,0.701992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5305,181,Zimbabwe,6991,Total waste from food systems,723113,Emissions (CO2eq) (AR5),gigagrams,769.345777,791.344488,804.322321,...,1004.633143,1020.085380,1037.277944,1045.378111,1056.606904,1061.656260,1083.040652,1100.609086,1117.345439,1128.790416
5306,181,Zimbabwe,6991,Total waste from food systems,723114,Emissions (CO2eq) (AR4),gigagrams,698.553062,718.217156,729.960847,...,911.472282,925.501265,940.607021,947.416891,958.650311,963.386191,983.140583,999.467282,1014.919765,1025.569269
5307,181,Zimbabwe,6991,Total waste from food systems,7273,CO2 emissions,gigagrams,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5308,181,Zimbabwe,6991,Total waste from food systems,7225,CH4 emissions,gigagrams,25.682653,26.464870,26.904262,...,33.647773,34.163821,34.815571,35.169983,35.384831,35.530090,36.191891,36.720580,37.239792,37.582134
5309,181,Zimbabwe,6991,Total waste from food systems,7230,N2O emissions,gigagrams,0.189553,0.189917,0.192464,...,0.235832,0.239617,0.235630,0.228749,0.248421,0.252127,0.262897,0.273331,0.281627,0.288644

In [649]:
CO2_Total_waste=CO2_Total_waste.groupby(['Area Code','Area','Item','Unit']).max().reset_index()

In [650]:
CO2_Total_waste

,Area Code,Area,Item,Unit,Item Code,Element Code,Element,Y1990,Y1991,Y1992,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,1,Armenia,Domestic wastewater,gigagrams,6988,723114,N2O emissions,NaN,NaN,141.867592,...,123.465633,124.049736,124.813168,125.958702,128.650735,128.926305,129.257501,129.858026,130.165251,130.427851
1,1,Armenia,Incineration,gigagrams,6990,723114,Emissions (CO2eq) (SAR),NaN,NaN,3.212315,...,3.516424,3.530362,3.537407,3.544487,3.551067,3.536452,3.536348,3.549981,3.561875,3.576133
2,1,Armenia,Industrial wastewater,gigagrams,6989,723114,N2O emissions,NaN,NaN,60.639649,...,107.830191,130.452428,155.936013,172.664226,190.566317,152.600965,123.289471,112.413629,101.537786,90.661943
3,1,Armenia,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,79.588505,...,243.950278,247.319798,250.357584,253.107168,255.597069,257.653225,259.480590,261.228046,262.878491,264.467163
4,1,Armenia,Total waste from food systems,gigagrams,6991,723114,N2O emissions,NaN,NaN,285.308060,...,478.762527,505.352324,534.644173,555.274582,578.365189,542.716946,515.563910,507.049680,498.143403,489.133090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,351,China,Domestic wastewater,gigagrams,6988,723114,N2O emissions,54257.600320,54848.337297,55762.843871,...,68072.616893,68494.114315,69067.364048,69497.898096,69864.121853,70501.936062,70953.443735,71469.135786,71797.249239,72055.998530
1111,351,China,Incineration,gigagrams,6990,723114,Emissions (CO2eq) (SAR),9829.096328,9853.192064,9894.065577,...,10841.759156,10919.028918,10962.955850,11004.198905,11037.000752,11057.255397,11063.373506,11096.710343,11140.328890,11151.696408
1112,351,China,Industrial wastewater,gigagrams,6989,723114,N2O emissions,8459.006220,8993.484996,9328.963992,...,17387.879736,17260.882709,17492.501551,17520.883941,13498.532278,12008.911801,11699.239796,11444.120521,11095.061269,8738.259102
1113,351,China,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),90941.862935,93381.996758,95487.516410,...,112821.897316,113550.427104,114232.470092,114875.248528,115468.619956,115996.483461,116444.339372,116881.597644,117326.547579,117712.684151
1114,351,China,Total waste from food systems,gigagrams,6991,723114,N2O emissions,163487.565825,167077.011070,170473.389897,...,209124.153011,210224.452997,211755.291551,212898.229451,209868.274788,209564.586670,210160.396440,210891.564323,211359.186978,209658.638174

In [734]:
Solid_waste=CO2_Total_waste.loc[CO2_Total_waste['Item']=='Solid food waste'].reset_index(drop=True)
Solid_waste

,Area Code,Area,Item,Unit,Item Code,Element Code,Element,Y1990,Y1991,Y1992,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,1,Armenia,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,79.588505,...,243.950278,247.319798,250.357584,253.107168,255.597069,257.653225,259.480590,261.228046,262.878491,264.467163
1,2,Afghanistan,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),173.027130,162.950815,153.461298,...,1202.717447,1297.672910,1387.912078,1473.038859,1553.164662,1628.410345,1699.080775,1765.967932,1828.666960,1887.584854
2,3,Albania,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),144.626516,158.874868,171.514210,...,321.306074,326.076831,330.446857,334.559718,338.423773,341.822100,345.047160,348.159729,351.236670,354.093685
3,4,Algeria,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),4554.082274,4785.695262,5000.327728,...,7040.508509,7106.805660,7168.451640,7225.075844,7277.587331,7319.063193,7356.686608,7392.507817,7426.313052,7456.708497
4,5,American Samoa,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,272,Serbia,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,NaN,...,1043.761079,1056.494586,1065.920885,1074.745480,1081.785213,1086.233532,1090.235868,1094.227758,1098.628046,1102.337365
215,273,Montenegro,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,NaN,...,91.819290,95.493936,98.622318,101.426659,103.893051,105.954111,107.818105,109.519544,111.093518,112.460431
216,276,Sudan,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,NaN,...,NaN,NaN,1787.097850,1801.599956,1815.695040,1829.519420,1839.629103,1848.181379,1852.241127,1854.010189
217,277,South Sudan,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
218,351,China,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),90941.862935,93381.996758,95487.516410,...,112821.897316,113550.427104,114232.470092,114875.248528,115468.619956,115996.483461,116444.339372,116881.597644,117326.547579,117712.684151

In [735]:
Solid_waste

,Area Code,Area,Item,Unit,Item Code,Element Code,Element,Y1990,Y1991,Y1992,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,1,Armenia,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,79.588505,...,243.950278,247.319798,250.357584,253.107168,255.597069,257.653225,259.480590,261.228046,262.878491,264.467163
1,2,Afghanistan,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),173.027130,162.950815,153.461298,...,1202.717447,1297.672910,1387.912078,1473.038859,1553.164662,1628.410345,1699.080775,1765.967932,1828.666960,1887.584854
2,3,Albania,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),144.626516,158.874868,171.514210,...,321.306074,326.076831,330.446857,334.559718,338.423773,341.822100,345.047160,348.159729,351.236670,354.093685
3,4,Algeria,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),4554.082274,4785.695262,5000.327728,...,7040.508509,7106.805660,7168.451640,7225.075844,7277.587331,7319.063193,7356.686608,7392.507817,7426.313052,7456.708497
4,5,American Samoa,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,272,Serbia,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,NaN,...,1043.761079,1056.494586,1065.920885,1074.745480,1081.785213,1086.233532,1090.235868,1094.227758,1098.628046,1102.337365
215,273,Montenegro,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,NaN,...,91.819290,95.493936,98.622318,101.426659,103.893051,105.954111,107.818105,109.519544,111.093518,112.460431
216,276,Sudan,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,NaN,...,NaN,NaN,1787.097850,1801.599956,1815.695040,1829.519420,1839.629103,1848.181379,1852.241127,1854.010189
217,277,South Sudan,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
218,351,China,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),90941.862935,93381.996758,95487.516410,...,112821.897316,113550.427104,114232.470092,114875.248528,115468.619956,115996.483461,116444.339372,116881.597644,117326.547579,117712.684151

In [736]:
Solid_waste_Co2=Solid_waste.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [655]:
NULL_regions=Solid_waste_Co2.loc[Solid_waste_Co2['ISO3 Code'].isna()]

In [656]:
NULL_regions.to_csv('../Data/Food/NULLRegions.csv')

In [737]:
Solid_waste_Co2

,Area Code,Area,Item,Unit,Item Code,Element Code,Element,Y1990,Y1991,Y1992,...,Y2015,Y2016,Y2017,Y2018,Y2019,Country Code,ISO3 Code,Code,Region,Income group
0,1,Armenia,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,79.588505,...,257.653225,259.480590,261.228046,262.878491,264.467163,1,ARM,ARM,Europe & Central Asia,Upper middle income
1,2,Afghanistan,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),173.027130,162.950815,153.461298,...,1628.410345,1699.080775,1765.967932,1828.666960,1887.584854,2,AFG,AFG,South Asia,Low income
2,3,Albania,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),144.626516,158.874868,171.514210,...,341.822100,345.047160,348.159729,351.236670,354.093685,3,ALB,ALB,Europe & Central Asia,Upper middle income
3,4,Algeria,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),4554.082274,4785.695262,5000.327728,...,7319.063193,7356.686608,7392.507817,7426.313052,7456.708497,4,DZA,DZA,Middle East & North Africa,Lower middle income
4,5,American Samoa,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,5,ASM,ASM,East Asia & Pacific,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,272,Serbia,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,NaN,...,1086.233532,1090.235868,1094.227758,1098.628046,1102.337365,272,SRB,SRB,Europe & Central Asia,Upper middle income
207,273,Montenegro,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,NaN,...,105.954111,107.818105,109.519544,111.093518,112.460431,273,MNE,MNE,Europe & Central Asia,Upper middle income
208,276,Sudan,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,NaN,...,1829.519420,1839.629103,1848.181379,1852.241127,1854.010189,276,SDN,SDN,Sub-Saharan Africa,Low income
209,277,South Sudan,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,277,SSD,SSD,Sub-Saharan Africa,Low income
210,351,China,Solid food waste,gigagrams,6987,723114,Emissions (CO2eq) (SAR),90941.862935,93381.996758,95487.516410,...,115996.483461,116444.339372,116881.597644,117326.547579,117712.684151,351,CHN,CHN,East Asia & Pacific,Upper middle income

In [762]:
Solid_waste_Income_group=Solid_waste_Co2.groupby(['Income group'])['Y2019'].sum().reset_index()
Solid_waste_Income_group['Percentage'] = round(Solid_waste_Income_group['Y2019'] / 
                  Solid_waste_Income_group['Y2019'].sum(),2)*100
#Solid_waste_Income_group.drop(Solid_waste_Income_group.index, inplace=True)
Solid_waste_Income_group

          Income group          Y2019  Percentage
0          High income  102784.682538        13.0
1           Low income   33169.214117         4.0
2  Lower middle income  315072.420296        40.0
3  Upper middle income  342333.809457        43.0

In [763]:
Solid_waste_Income_group.to_csv('../Data/Food/Tableau/Solid_waste_Income_group.csv')

In [65]:
Solid_waste_Co2.to_csv('../Data/Food/Tableau/Solid_waste_Co2.csv')

In [699]:
house_waste=pd.read_excel('../Data/Food/FWD.xlsx',sheet_name=4,header=1,skipfooter=1,dtype={'M49 code': np.int32})
Food_Service_waste=pd.read_excel('../Data/Food/FWD.xlsx',sheet_name=5,header=1,skipfooter=1,dtype={'M49 code': np.int32})
Retail_waste=pd.read_excel('../Data/Food/FWD.xlsx',sheet_name=6,header=1,skipfooter=3,dtype={'M49 code': np.int32})

In [700]:
house_waste=house_waste.loc[house_waste['Confidence in estimate'].isin(['High confidence','Medium confidence'])]
Food_Service_waste=Food_Service_waste.loc[Food_Service_waste['Confidence in estimate'].isin(['High Confidence','Medium Confidence'])]
Retail_waste=Retail_waste.loc[Retail_waste['Confidence in estimate'].isin(['High Confidence','Medium Confidence'])]

In [701]:
house_waste=house_waste.merge(FAO_Codes[['M49 Code','ISO3 Code']],how='left',left_on='M49 code',right_on='M49 Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [702]:
house_waste.head(1)

,Region_x,M49 code,Country,Household estimate (kg/capita/year),Household estimate (tonnes/year),Confidence in estimate,M49 Code,ISO3 Code,Code,Region_y,Income group
0,Australia and New Zealand,36,Australia,101.697811,2563110.265776,High confidence,36,AUS,AUS,East Asia & Pacific,High income

In [703]:
house_waste=house_waste[['Code','Region_y','Income group','Country','Household estimate (kg/capita/year)']]

In [705]:
house_waste=house_waste.rename(columns={'Household estimate (kg/capita/year)':'Value'})
house_waste['Value']=house_waste['Value'].astype(float)
house_waste['Category']='House_waste'
house_waste_Income_group=house_waste.groupby(['Region_y','Income group','Category','Country'])['Value'].sum().reset_index()
#house_waste_Income_group['Percentage'] = round(100 * house_waste_Income_group['Value'] / house_waste_Income_group.groupby('Income group')['Value'].transform('sum'),2)
house_waste_Income_group

,Region_y,Income group,Category,Country,Value
0,East Asia & Pacific,High income,House_waste,Australia,101.697811
1,East Asia & Pacific,High income,House_waste,Japan,64.321866
2,East Asia & Pacific,High income,House_waste,New Zealand,61.000000
3,East Asia & Pacific,Lower middle income,House_waste,Indonesia,77.369812
4,East Asia & Pacific,Lower middle income,House_waste,Viet Nam,76.161693
5,East Asia & Pacific,Upper middle income,House_waste,Malaysia,91.442717
6,Europe & Central Asia,High income,House_waste,Austria,39.000000
7,Europe & Central Asia,High income,House_waste,Belgium,49.919512
8,Europe & Central Asia,High income,House_waste,Denmark,81.333528
9,Europe & Central Asia,High income,House_waste,Estonia,77.507163
10,Europe & Central Asia,High income,House_waste,Finland,65.423689
11,Europe & Central Asia,High income,House_waste,France,84.790172
12,Europe & Central Asia,High income,House_waste,Germany,75.000000
13,Europe & Central Asia,High income,House_waste,Greece,141.690544
14,Europe & Central Asia,High income,House_waste,Hungary,93.825215
15,Europe & Central Asia,High income,House_waste,Ireland,54.700000
16,Europe & Central Asia,High income,House_waste,Italy,67.048711
17,Europe & Central Asia,High income,House_waste,Luxembourg,89.250000
18,Europe & Central Asia,High income,House_waste,Netherlands,50.000000
19,Europe & Central Asia,High income,House_waste,Norway,78.800000
20,Europe & Central Asia,High income,House_waste,Poland,55.940300
21,Europe & Central Asia,High income,House_waste,Slovenia,34.207218
22,Europe & Central Asia,High income,House_waste,Spain,77.325665
23,Europe & Central Asia,High income,House_waste,Sweden,81.000000
24,Europe & Central Asia,High income,House_waste,United Kingdom,77.000000
25,Europe & Central Asia,Upper middle income,House_waste,Georgia,100.974000
26,Europe & Central Asia,Upper middle income,House_waste,Russian Federation,33.375521
27,Latin America & Caribbean,Lower middle income,House_waste,Belize,52.673889
28,Latin America & Caribbean,Upper middle income,House_waste,Brazil,59.598854
29,Latin America & Caribbean,Upper middle income,House_waste,Colombia,70.431888
30,Latin America & Caribbean,Upper middle income,House_waste,Mexico,93.900195
31,Middle East & North Africa,High income,House_waste,Bahrain,131.709160
32,Middle East & North Africa,High income,House_waste,Israel,99.583919
33,Middle East & North Africa,High income,House_waste,Malta,129.000000
34,Middle East & North Africa,High income,House_waste,Saudi Arabia,104.880000
35,Middle East & North Africa,Upper middle income,House_waste,Iraq,120.439035
36,Middle East & North Africa,Upper middle income,House_waste,Lebanon,104.656160
37,North America,High income,House_waste,Canada,78.541621
38,North America,High income,House_waste,United States of America,58.833231
39,South Asia,Lower middle income,House_waste,Bangladesh,65.124075
40,South Asia,Lower middle income,House_waste,India,50.321478
41,South Asia,Lower middle income,House_waste,Pakistan,73.638966
42,South Asia,Lower middle income,House_waste,Sri Lanka,75.865712
43,Sub-Saharan Africa,Low income,House_waste,Ethiopia,92.142713
44,Sub-Saharan Africa,Low income,House_waste,Rwanda,164.362500
45,Sub-Saharan Africa,Lower middle income,House_waste,Ghana,84.007500
46,Sub-Saharan Africa,Lower middle income,House_waste,Kenya,99.238537
47,Sub-Saharan Africa,Lower middle income,House_waste,Nigeria,188.797725
48,Sub-Saharan Africa,Lower middle income,House_waste,United Rep. of Tanzania,119.086110
49,Sub-Saharan Africa,Lower middle income,House_waste,Zambia,77.920000
50,Sub-Saharan Africa,Upper middle income,House_waste,South Africa,39.776225

In [706]:
Food_Service_waste=Food_Service_waste.merge(FAO_Codes[['M49 Code','ISO3 Code']],how='left',left_on='M49 code',right_on='M49 Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')
Food_Service_waste.head(1)

,Region_x,M49 code,Country,Food service estimate (kg/capita/year),Food service estimate (tonnes/year),Confidence in estimate,M49 Code,ISO3 Code,Code,Region_y,Income group
0,Australia and New Zealand,36,Australia,21.677392,546339.634405,High Confidence,36,AUS,AUS,East Asia & Pacific,High income

In [707]:
Food_Service_waste=Food_Service_waste[['Code','Region_y','Income group','Country','Food service estimate (kg/capita/year)']]
Food_Service_waste=Food_Service_waste.rename(columns={'Food service estimate (kg/capita/year)':'Value'})
Food_Service_waste['Value']=Food_Service_waste['Value'].astype(float)
Food_Service_waste['Category']='Food_Service_waste'
Food_Service_waste_Income_group=Food_Service_waste.groupby(['Region_y','Income group','Category','Country'])['Value'].sum().reset_index()
#Food_Service_waste_Income_group['Percentage'] = round(100 * Food_Service_waste_Income_group['Value'] / Food_Service_waste_Income_group.groupby('Income group')['Value'].transform('sum'),2)
Food_Service_waste_Income_group

,Region_y,Income group,Category,Country,Value
0,East Asia & Pacific,High income,Food_Service_waste,Australia,21.677392
1,East Asia & Pacific,High income,Food_Service_waste,Japan,14.746422
2,East Asia & Pacific,Upper middle income,Food_Service_waste,Malaysia,89.563549
3,Europe & Central Asia,High income,Food_Service_waste,Austria,28.385022
4,Europe & Central Asia,High income,Food_Service_waste,Belgium,19.704067
5,Europe & Central Asia,High income,Food_Service_waste,Denmark,20.640390
6,Europe & Central Asia,High income,Food_Service_waste,Estonia,16.605743
7,Europe & Central Asia,High income,Food_Service_waste,Finland,23.304906
8,Europe & Central Asia,High income,Food_Service_waste,France,24.483138
9,Europe & Central Asia,High income,Food_Service_waste,Germany,20.575845
10,Europe & Central Asia,High income,Food_Service_waste,Ireland,56.146427
11,Europe & Central Asia,High income,Food_Service_waste,Luxembourg,20.900000
12,Europe & Central Asia,High income,Food_Service_waste,Norway,4.961141
13,Europe & Central Asia,High income,Food_Service_waste,Slovenia,20.080269
14,Europe & Central Asia,High income,Food_Service_waste,Sweden,20.500000
15,Europe & Central Asia,High income,Food_Service_waste,Switzerland,40.000000
16,Europe & Central Asia,High income,Food_Service_waste,United Kingdom,16.500000
17,Europe & Central Asia,Upper middle income,Food_Service_waste,Serbia,6.000000
18,Middle East & North Africa,High income,Food_Service_waste,Israel,27.437619
19,North America,High income,Food_Service_waste,United States of America,63.619143
20,South Asia,Lower middle income,Food_Service_waste,Bangladesh,3.339154
21,Sub-Saharan Africa,Lower middle income,Food_Service_waste,Kenya,31.137438

In [708]:
Retail_waste=Retail_waste.merge(FAO_Codes[['M49 Code','ISO3 Code']],how='left',left_on='M49 code',right_on='M49 Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')
Retail_waste

,Region_x,M49 code,Country,Retail estimate (kg/capita/year),Retail estimate (tonnes/year),Confidence in estimate,M49 Code,ISO3 Code,Code,Region_y,Income group
0,Australia and New Zealand,36,Australia,9.453072,238247.670493,High Confidence,36,AUS,AUS,East Asia & Pacific,High income
1,Australia and New Zealand,554,New Zealand,3.12,14923.272,High Confidence,554,NZL,NZL,East Asia & Pacific,High income
2,Eastern Asia,392,Japan,8.633966,1095307.558467,Medium Confidence,392,JPN,JPN,East Asia & Pacific,High income
3,Eastern Europe,643,Russian Federation,13.717905,2001062.30572,Medium Confidence,643,RUS,RUS,Europe & Central Asia,Upper middle income
4,Northern America,840,United States of America,15.654399,5151313.189053,High Confidence,840,USA,USA,North America,High income
5,Northern Europe,208,Denmark,29.8,172002.62,High Confidence,208,DNK,DNK,Europe & Central Asia,High income
6,Northern Europe,233,Estonia,4.709408,6242.791072,Medium Confidence,233,EST,EST,Europe & Central Asia,High income
7,Northern Europe,578,Norway,13.773765,74087.703794,Medium Confidence,578,NOR,NOR,Europe & Central Asia,High income
8,Northern Europe,752,Sweden,10,100364,High Confidence,752,SWE,SWE,Europe & Central Asia,High income
9,Northern Europe,826,United Kingdom,4.2,283626.84,High Confidence,826,GBR,GBR,Europe & Central Asia,High income
10,South-eastern Asia,458,Malaysia,78.81737,2518199.207283,Medium Confidence,458,MYS,MYS,East Asia & Pacific,Upper middle income
11,Southern Europe,300,Greece,7.383543,77331.533549,Medium Confidence,300,GRC,GRC,Europe & Central Asia,High income
12,Southern Europe,380,Italy,3.625953,219551.832178,High Confidence,380,ITA,ITA,Europe & Central Asia,High income
13,Southern Europe,705,Slovenia,6.691769,13910.179548,Medium Confidence,705,SVN,SVN,Europe & Central Asia,High income
14,Sub-Saharan Africa,404,Kenya,10.963794,576410.508094,Medium Confidence,404,KEN,KEN,Sub-Saharan Africa,Lower middle income
15,Western Asia,376,Israel,51.411711,437996.933826,Medium Confidence,376,ISR,ISR,Middle East & North Africa,High income
16,Western Asia,682,Saudi Arabia,19.653668,673501.726826,High Confidence,682,SAU,SAU,Middle East & North Africa,High income
17,Western Europe,40,Austria,8.630716,77288.926327,High Confidence,40,AUT,AUT,Europe & Central Asia,High income
18,Western Europe,56,Belgium,9.714642,112100.168726,Medium Confidence,56,BEL,BEL,Europe & Central Asia,High income
19,Western Europe,250,France,25.603799,1667567.743904,Medium Confidence,250,FRA,FRA,Europe & Central Asia,High income
20,Western Europe,276,Germany,5.965778,498243.852466,High Confidence,276,DEU,DEU,Europe & Central Asia,High income
21,Western Europe,442,Luxembourg,7.2,4433.04,Medium Confidence,442,LUX,LUX,Europe & Central Asia,High income
22,Western Europe,528,Netherlands,11,188068.1,Medium Confidence,528,NLD,NLD,Europe & Central Asia,High income

In [709]:
Retail_waste=Retail_waste[['Code','Region_y','Income group','Country','Retail estimate (kg/capita/year)']]
Retail_waste=Retail_waste.rename(columns={'Retail estimate (kg/capita/year)':'Value'})
Retail_waste['Value']=Retail_waste['Value'].astype(float)
Retail_waste['Category']='Retail_waste'
Retail_waste_Income_group=Retail_waste.groupby(['Region_y','Income group','Category','Country'])['Value'].sum().reset_index()
#Retail_waste_Income_group['Percentage'] = round(100 * Retail_waste_Income_group['Value'] / Retail_waste_Income_group.groupby('Income group')['Value'].transform('sum'),2)
Retail_waste_Income_group

,Region_y,Income group,Category,Country,Value
0,East Asia & Pacific,High income,Retail_waste,Australia,9.453072
1,East Asia & Pacific,High income,Retail_waste,Japan,8.633966
2,East Asia & Pacific,High income,Retail_waste,New Zealand,3.120000
3,East Asia & Pacific,Upper middle income,Retail_waste,Malaysia,78.817370
4,Europe & Central Asia,High income,Retail_waste,Austria,8.630716
5,Europe & Central Asia,High income,Retail_waste,Belgium,9.714642
6,Europe & Central Asia,High income,Retail_waste,Denmark,29.800000
7,Europe & Central Asia,High income,Retail_waste,Estonia,4.709408
8,Europe & Central Asia,High income,Retail_waste,France,25.603799
9,Europe & Central Asia,High income,Retail_waste,Germany,5.965778
10,Europe & Central Asia,High income,Retail_waste,Greece,7.383543
11,Europe & Central Asia,High income,Retail_waste,Italy,3.625953
12,Europe & Central Asia,High income,Retail_waste,Luxembourg,7.200000
13,Europe & Central Asia,High income,Retail_waste,Netherlands,11.000000
14,Europe & Central Asia,High income,Retail_waste,Norway,13.773765
15,Europe & Central Asia,High income,Retail_waste,Slovenia,6.691769
16,Europe & Central Asia,High income,Retail_waste,Sweden,10.000000
17,Europe & Central Asia,High income,Retail_waste,United Kingdom,4.200000
18,Europe & Central Asia,Upper middle income,Retail_waste,Russian Federation,13.717905
19,Middle East & North Africa,High income,Retail_waste,Israel,51.411711
20,Middle East & North Africa,High income,Retail_waste,Saudi Arabia,19.653668
21,North America,High income,Retail_waste,United States of America,15.654399
22,Sub-Saharan Africa,Lower middle income,Retail_waste,Kenya,10.963794

In [751]:
Waste=pd.concat([house_waste_Income_group,Food_Service_waste_Income_group,Retail_waste_Income_group])

In [752]:
Waste['Percentage'] = round(100 * Waste['Value'] / Waste.groupby('Income group')['Value'].transform('sum'),2)
Waste

,Region_y,Income group,Category,Country,Value,Percentage
0,East Asia & Pacific,High income,House_waste,Australia,101.697811,3.48
1,East Asia & Pacific,High income,House_waste,Japan,64.321866,2.20
2,East Asia & Pacific,High income,House_waste,New Zealand,61.000000,2.09
3,East Asia & Pacific,Lower middle income,House_waste,Indonesia,77.369812,7.13
4,East Asia & Pacific,Lower middle income,House_waste,Viet Nam,76.161693,7.02
...,...,...,...,...,...,...
18,Europe & Central Asia,Upper middle income,Retail_waste,Russian Federation,13.717905,1.52
19,Middle East & North Africa,High income,Retail_waste,Israel,51.411711,1.76
20,Middle East & North Africa,High income,Retail_waste,Saudi Arabia,19.653668,0.67
21,North America,High income,Retail_waste,United States of America,15.654399,0.54
22,Sub-Saharan Africa,Lower middle income,Retail_waste,Kenya,10.963794,1.01

In [759]:
Waste_Category=Waste.groupby(['Income group','Category'])['Value'].sum().reset_index()
Waste_Category['Percentage'] = round(100 * Waste_Category['Value'] / Waste_Category.groupby('Income group')['Value'].transform('sum'),2)

Waste_Category
#Waste_Category.drop(Waste_Category.index, inplace=True)

          Income group            Category        Value  Percentage
0          High income  Food_Service_waste   460.267524       15.76
1          High income         House_waste  2203.329325       75.46
2          High income        Retail_waste   256.226189        8.78
3           Low income         House_waste   256.505213      100.00
4  Lower middle income  Food_Service_waste    34.476591        3.18
5  Lower middle income         House_waste  1040.205496       95.81
6  Lower middle income        Retail_waste    10.963794        1.01
7  Upper middle income  Food_Service_waste    95.563549       10.59
8  Upper middle income         House_waste   714.594595       79.16
9  Upper middle income        Retail_waste    92.535275       10.25

In [750]:
house_waste.to_csv('../Data/Food/Tableau/House_waste.csv')
Food_Service_waste.to_csv('../Data/Food/Tableau/Food_Service_waste.csv')
Retail_waste.to_csv('../Data/Food/Tableau/Retail_waste.csv')

In [764]:
Waste.to_csv('../Data/Food/Tableau/Waste.csv')
Waste_Category.to_csv('../Data/Food/Tableau/Waste_Category.csv')

In [459]:
Emmissions=pd.read_csv('../Data/Food/Emissions_Totals_E_All_Data_NOFLAG.csv',encoding="ISO-8859-1")
Emmissions

,Area Code,Area,Item Code,Item,Element Code,Element,Source Code,Source,Unit,Y1961,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2030,Y2050
0,2,Afghanistan,5058,Enteric Fermentation,7225,Emissions (CH4),3050,FAO TIER 1,kilotonnes,240.6831,...,393.0930,398.2870,383.3023,380.8767,371.2863,378.8870,389.6563,NaN,453.7474,603.6185
1,2,Afghanistan,5058,Enteric Fermentation,7225,Emissions (CH4),3051,UNFCCC,kilotonnes,NaN,...,414.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Afghanistan,5058,Enteric Fermentation,724413,Emissions (CO2eq) from CH4 (AR5),3050,FAO TIER 1,kilotonnes,6739.1279,...,11006.6040,11152.0360,10732.4631,10664.5483,10396.0163,10608.8357,10910.3754,NaN,12704.9283,16901.3173
3,2,Afghanistan,5058,Enteric Fermentation,724413,Emissions (CO2eq) from CH4 (AR5),3051,UNFCCC,kilotonnes,NaN,...,11592.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,Afghanistan,5058,Enteric Fermentation,723113,Emissions (CO2eq) (AR5),3050,FAO TIER 1,kilotonnes,6739.1279,...,11006.6040,11152.0360,10732.4631,10664.5483,10396.0163,10608.8357,10910.3754,NaN,12704.9283,16901.3173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35751,5873,OECD,6516,Land Use change,7230,Emissions (N2O),3050,FAO TIER 1,kilotonnes,NaN,...,1.4242,0.4180,1.2957,0.8834,0.7522,0.9253,1.0574,NaN,NaN,NaN
35752,5873,OECD,6516,Land Use change,7273,Emissions (CO2),3050,FAO TIER 1,kilotonnes,NaN,...,159202.3883,159202.3883,159202.3883,209078.1221,209078.1221,209078.1221,209078.1221,NaN,NaN,NaN
35753,5873,OECD,6516,Land Use change,724413,Emissions (CO2eq) from CH4 (AR5),3050,FAO TIER 1,kilotonnes,NaN,...,436.7699,128.1795,397.3500,270.9106,230.6636,283.7454,324.2807,NaN,NaN,NaN
35754,5873,OECD,6516,Land Use change,724313,Emissions (CO2eq) from N2O (AR5),3050,FAO TIER 1,kilotonnes,NaN,...,377.4261,110.7638,343.3623,234.1021,199.3235,245.1931,280.2209,NaN,NaN,NaN
35755,5873,OECD,6516,Land Use change,723113,Emissions (CO2eq) (AR5),3050,FAO TIER 1,kilotonnes,NaN,...,160016.5843,159441.3315,159943.1006,209583.1348,209508.1091,209607.0606,209682.6237,NaN,NaN,NaN

In [460]:
Farm_gate_Emmissions=Emmissions.groupby(['Area Code','Area','Item','Unit']).sum().reset_index()

In [461]:
Farm_gate_Emmissions.Unit.unique()

array(['kilotonnes'], dtype=object)

In [462]:
Farm_gate_Emmissions

,Area Code,Area,Item,Unit,Item Code,Element Code,Source Code,Y1961,Y1962,Y1963,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2030,Y2050
0,1,Armenia,AFOLU,kilotonnes,54592,2208037,24400,0.0000,0.0000,0.0000,...,3233.0993,3192.4225,3410.6424,4625.6308,3792.4403,3542.7392,3669.4380,0.0,3546.9928,4042.2339
1,1,Armenia,Agricultural Soils,kilotonnes,13672,2923782,24403,0.0000,0.0000,0.0000,...,1615.7560,1533.8179,1713.5140,2654.4526,1935.9910,1858.5262,2027.9750,0.0,1576.3450,1841.3520
2,1,Armenia,Burning - Crop residues,kilotonnes,50660,4372588,30505,0.0000,0.0000,0.0000,...,8.2094,8.5552,8.8944,8.8867,6.5960,5.3374,4.6167,0.0,8.4016,8.2646
3,1,Armenia,Crop Residues,kilotonnes,25320,1469126,15250,0.0000,0.0000,0.0000,...,81.7628,85.6428,87.5072,87.5038,50.8825,52.1908,35.7104,0.0,66.9308,67.2797
4,1,Armenia,Emissions on agricultural land,kilotonnes,55960,2208037,24400,0.0000,0.0000,0.0000,...,4325.4762,4266.7793,4465.0369,5459.0310,4604.2956,4359.7365,4489.6836,0.0,3546.9928,4042.2339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6106,5873,OECD,Net Forest conversion,kilotonnes,13500,730386,6100,0.0000,0.0000,0.0000,...,318404.7766,318404.7766,318404.7766,418156.2442,418156.2442,418156.2442,418156.2442,0.0,0.0000,0.0000
6107,5873,OECD,On-farm energy use,kilotonnes,41964,2193567,18300,0.0000,0.0000,0.0000,...,436064.5861,418472.2457,409357.2205,406732.0325,408490.8811,412478.7208,412961.7877,0.0,0.0000,0.0000
6108,5873,OECD,Rice Cultivation,kilotonnes,15180,1454751,9150,76665.7992,77867.5610,77350.6554,...,65125.3286,67806.0335,64703.7320,68018.9464,62484.3780,65774.5436,61147.4851,0.0,73550.0033,70419.0098
6109,5873,OECD,Savanna fires,kilotonnes,33975,2186294,15250,0.0000,0.0000,0.0000,...,66041.5221,109778.0218,104119.1965,51150.8285,130698.4753,123867.5172,68079.4079,0.0,0.0000,0.0000
6110,5873,OECD,Synthetic Fertilizers,kilotonnes,25305,1469126,15250,90849.9236,101754.4752,111468.2773,...,338933.9939,333658.8269,332501.8104,341469.9752,340449.4503,335681.8290,339200.4182,0.0,310215.3933,326650.1928

In [463]:
Farm_gate_Emmissions['Item'].unique()

array(['AFOLU', 'Agricultural Soils', 'Burning - Crop residues',
       'Crop Residues', 'Emissions on agricultural land',
       'Enteric Fermentation', 'Farm-gate emissions',
       'Fires in humid tropical forests', 'Fires in organic soils',
       'Forest fires', 'Forestland', 'IPCC Agriculture', 'LULUCF',
       'Land Use change', 'Manure Management', 'Manure applied to Soils',
       'Manure left on Pasture', 'Net Forest conversion',
       'On-farm energy use', 'Savanna fires', 'Synthetic Fertilizers',
       'Rice Cultivation', 'Drained organic soils',
       'Drained organic soils (CO2)', 'Drained organic soils (N2O)'],
      dtype=object)

In [464]:
Farm_gate_Emmissions=Farm_gate_Emmissions.loc[Farm_gate_Emmissions['Item'].isin(['Burning - Crop residues','Crop Residues',
                                                            
                                                            'Enteric Fermentation',
                                                            'Manure Management',
                                                            'Manure applied to Soils',
                                                            'Manure left on Pasture',
                                                            'On-farm energy use',
                                                            'Synthetic Fertilizers',
                                                            'Rice Cultivation'
                                                           ])]

In [465]:
Farm_gate_Emmissions.tail(100)

,Area Code,Area,Item,Unit,Item Code,Element Code,Source Code,Y1961,Y1962,Y1963,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2030,Y2050
5840,5502,Melanesia,Rice Cultivation,kilotonnes,15180,1454751,9150,110.9065,110.0232,105.2462,...,40.7243,34.6591,41.8378,49.0239,51.3112,47.1675,45.0968,0.0,54.3410,54.4678
5842,5502,Melanesia,Synthetic Fertilizers,kilotonnes,25305,1469126,15250,17.5680,38.7806,47.1436,...,229.6984,225.6230,299.8894,285.6314,354.3056,391.0426,343.6599,0.0,275.1828,306.0046
5845,5503,Micronesia,Burning - Crop residues,kilotonnes,25330,2186294,15250,0.0296,0.0373,0.0220,...,0.0254,0.0268,0.0256,0.0262,0.0266,0.0270,0.0272,0.0,0.0219,0.0215
5846,5503,Micronesia,Crop Residues,kilotonnes,25320,1469126,15250,0.0360,0.0352,0.0238,...,0.0474,0.0498,0.0486,0.0500,0.0512,0.0524,0.0536,0.0,0.0460,0.0538
5848,5503,Micronesia,Enteric Fermentation,kilotonnes,15174,1454751,9150,0.5714,0.5729,0.5743,...,65.4509,65.6709,66.9980,68.8601,70.1865,71.5130,72.7719,0.0,81.7046,112.3195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6104,5873,OECD,Manure applied to Soils,kilotonnes,25310,1469126,15250,94360.5461,95479.0024,94913.1757,...,103940.1738,104673.6648,105482.1388,106168.6815,106662.4846,104181.5768,103988.2280,0.0,111089.4090,111929.6018
6105,5873,OECD,Manure left on Pasture,kilotonnes,25315,1469126,15250,255118.0086,259553.2198,263369.8412,...,259073.1926,258456.3060,256822.1842,255626.2994,259960.2574,261683.4972,260652.2886,0.0,293579.7786,300271.0995
6107,5873,OECD,On-farm energy use,kilotonnes,41964,2193567,18300,0.0000,0.0000,0.0000,...,436064.5861,418472.2457,409357.2205,406732.0325,408490.8811,412478.7208,412961.7877,0.0,0.0000,0.0000
6108,5873,OECD,Rice Cultivation,kilotonnes,15180,1454751,9150,76665.7992,77867.5610,77350.6554,...,65125.3286,67806.0335,64703.7320,68018.9464,62484.3780,65774.5436,61147.4851,0.0,73550.0033,70419.0098
6110,5873,OECD,Synthetic Fertilizers,kilotonnes,25305,1469126,15250,90849.9236,101754.4752,111468.2773,...,338933.9939,333658.8269,332501.8104,341469.9752,340449.4503,335681.8290,339200.4182,0.0,310215.3933,326650.1928

In [466]:
Farm_unwanted=Farm_gate_Emmissions.loc[Farm_gate_Emmissions['Area Code'].astype(str).str.len() > 3]

In [467]:
Farm_unwanted

,Area Code,Area,Item,Unit,Item Code,Element Code,Source Code,Y1961,Y1962,Y1963,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2030,Y2050
5199,5000,World,Burning - Crop residues,kilotonnes,50660,4372588,30505,4.900698e+04,4.931190e+04,5.022048e+04,...,1.031695e+05,8.981730e+04,9.291247e+04,7.919838e+04,7.960756e+04,7.864245e+04,7.840946e+04,0.0,6.895473e+04,7.103015e+04
5200,5000,World,Crop Residues,kilotonnes,45576,2931016,27454,1.441599e+05,1.507859e+05,1.520653e+05,...,5.849258e+05,6.010494e+05,5.930037e+05,6.102586e+05,6.228211e+05,6.124758e+05,6.239638e+05,0.0,3.739711e+05,4.053253e+05
5205,5000,World,Enteric Fermentation,kilotonnes,30348,2909502,18303,3.724666e+06,3.779164e+06,3.819578e+06,...,7.859433e+06,7.651027e+06,8.548016e+06,7.114088e+06,7.056266e+06,7.064249e+06,7.087205e+06,0.0,6.268852e+06,6.961546e+06
5214,5000,World,Manure Management,kilotonnes,50590,4372588,30505,5.802033e+05,5.926336e+05,5.988173e+05,...,1.311398e+06,1.236524e+06,1.344539e+06,1.226407e+06,1.212840e+06,1.223965e+06,1.203424e+06,0.0,8.864717e+05,9.708718e+05
5215,5000,World,Manure applied to Soils,kilotonnes,45558,2931016,27454,2.188484e+05,2.233643e+05,2.264959e+05,...,4.058082e+05,4.086601e+05,4.128991e+05,4.187305e+05,4.218055e+05,4.207344e+05,4.160989e+05,0.0,3.731260e+05,4.185559e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6104,5873,OECD,Manure applied to Soils,kilotonnes,25310,1469126,15250,9.436055e+04,9.547900e+04,9.491318e+04,...,1.039402e+05,1.046737e+05,1.054821e+05,1.061687e+05,1.066625e+05,1.041816e+05,1.039882e+05,0.0,1.110894e+05,1.119296e+05
6105,5873,OECD,Manure left on Pasture,kilotonnes,25315,1469126,15250,2.551180e+05,2.595532e+05,2.633698e+05,...,2.590732e+05,2.584563e+05,2.568222e+05,2.556263e+05,2.599603e+05,2.616835e+05,2.606523e+05,0.0,2.935798e+05,3.002711e+05
6107,5873,OECD,On-farm energy use,kilotonnes,41964,2193567,18300,0.000000e+00,0.000000e+00,0.000000e+00,...,4.360646e+05,4.184722e+05,4.093572e+05,4.067320e+05,4.084909e+05,4.124787e+05,4.129618e+05,0.0,0.000000e+00,0.000000e+00
6108,5873,OECD,Rice Cultivation,kilotonnes,15180,1454751,9150,7.666580e+04,7.786756e+04,7.735066e+04,...,6.512533e+04,6.780603e+04,6.470373e+04,6.801895e+04,6.248438e+04,6.577454e+04,6.114749e+04,0.0,7.355000e+04,7.041901e+04
6110,5873,OECD,Synthetic Fertilizers,kilotonnes,25305,1469126,15250,9.084992e+04,1.017545e+05,1.114683e+05,...,3.389340e+05,3.336588e+05,3.325018e+05,3.414700e+05,3.404495e+05,3.356818e+05,3.392004e+05,0.0,3.102154e+05,3.266502e+05

In [468]:
Farm_gate_Emmissions=Farm_gate_Emmissions.drop(Farm_gate_Emmissions.loc[5199:6111].index,axis=0)

,Area Code,Area,Item,Unit,Item Code,Element Code,Source Code,Y1961,Y1962,Y1963,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2030,Y2050
2,1,Armenia,Burning - Crop residues,kilotonnes,50660,4372588,30505,0.0000,0.0000,0.0000,...,8.2094,8.5552,8.8944,8.8867,6.5960,5.3374,4.6167,0.0,8.4016,8.2646
3,1,Armenia,Crop Residues,kilotonnes,25320,1469126,15250,0.0000,0.0000,0.0000,...,81.7628,85.6428,87.5072,87.5038,50.8825,52.1908,35.7104,0.0,66.9308,67.2797
4,1,Armenia,Emissions on agricultural land,kilotonnes,55960,2208037,24400,0.0000,0.0000,0.0000,...,4325.4762,4266.7793,4465.0369,5459.0310,4604.2956,4359.7365,4489.6836,0.0,3546.9928,4042.2339
5,1,Armenia,Enteric Fermentation,kilotonnes,30348,2909502,18303,0.0000,0.0000,0.0000,...,1642.8338,1690.8700,1721.6237,1759.2372,1643.3986,1482.8870,1434.8620,0.0,1836.0467,2048.2417
14,1,Armenia,Manure Management,kilotonnes,50590,4372588,30505,0.0000,0.0000,0.0000,...,504.9216,523.0371,114.2399,123.6485,118.7479,110.2856,115.8243,0.0,126.1994,144.3756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5190,351,China,Manure applied to Soils,kilotonnes,25310,1469126,15250,16152.4375,15678.4118,16941.4188,...,57756.9586,57261.1974,57749.9721,58839.0936,57363.8239,55907.8718,51696.3080,0.0,79600.1042,88109.9127
5191,351,China,Manure left on Pasture,kilotonnes,25315,1469126,15250,48636.3745,49227.7383,51263.3522,...,106969.9700,106122.2412,108955.3050,111704.0894,108604.3643,109721.0052,110956.8396,0.0,165542.9026,186591.5486
5193,351,China,On-farm energy use,kilotonnes,41964,2193567,18300,0.0000,0.0000,0.0000,...,247264.4505,258776.2809,262460.7272,270535.9006,277646.5390,247780.4870,245582.4527,0.0,0.0000,0.0000
5194,351,China,Rice Cultivation,kilotonnes,15180,1454751,9150,271031.8605,277706.9485,285470.0692,...,306250.8929,306241.2638,310788.6594,310636.2239,310656.8510,305040.4702,300025.5825,0.0,314061.5770,279018.3029
5196,351,China,Synthetic Fertilizers,kilotonnes,25305,1469126,15250,6025.8880,8972.3700,10788.9980,...,342985.3289,344995.8078,342892.8098,338403.2779,329074.3420,313549.8104,327009.1435,0.0,335206.1078,346123.2204

In [469]:
Land_Use_Emmissions=Emmissions.loc[Emmissions['Item'].isin(['Land Use change','Emissions on agricultural land','Drained organic soils'])]

In [470]:
Land_Use_Emmissions.loc[Land_Use_Emmissions['Area Code'].astype(str).str.len() > 3]

,Area Code,Area,Item Code,Item,Element Code,Element,Source Code,Source,Unit,Y1961,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2030,Y2050
31249,5000,World,6729,Drained organic soils,723113,Emissions (CO2eq) (AR5),3050,FAO TIER 1,kilotonnes,NaN,...,818188.3637,822905.9412,822681.3783,827005.1918,828708.8847,832875.4186,832875.4186,NaN,NaN,NaN
31343,5000,World,6995,Emissions on agricultural land,7225,Emissions (CH4),3050,FAO TIER 1,kilotonnes,NaN,...,140093.7481,144187.9430,145511.4236,141765.7280,142826.6989,144123.9613,146275.2777,NaN,145346.3491,157838.2065
31344,5000,World,6995,Emissions on agricultural land,7234,Direct emissions (N2O),3050,FAO TIER 1,kilotonnes,NaN,...,4750.5159,4791.4723,4809.0695,4892.1391,4967.4029,4961.3450,5000.1729,NaN,5404.2355,6084.9720
31345,5000,World,6995,Emissions on agricultural land,7236,Indirect emissions (N2O),3050,FAO TIER 1,kilotonnes,NaN,...,1402.9963,1414.0583,1419.0367,1443.0650,1464.8784,1461.7496,1472.1991,NaN,1603.6675,1807.8912
31346,5000,World,6995,Emissions on agricultural land,7230,Emissions (N2O),3050,FAO TIER 1,kilotonnes,NaN,...,7731.0032,7825.4689,7875.0686,7941.3241,8108.5360,8012.9434,8039.7469,NaN,7578.1481,8541.2751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35751,5873,OECD,6516,Land Use change,7230,Emissions (N2O),3050,FAO TIER 1,kilotonnes,NaN,...,1.4242,0.4180,1.2957,0.8834,0.7522,0.9253,1.0574,NaN,NaN,NaN
35752,5873,OECD,6516,Land Use change,7273,Emissions (CO2),3050,FAO TIER 1,kilotonnes,NaN,...,159202.3883,159202.3883,159202.3883,209078.1221,209078.1221,209078.1221,209078.1221,NaN,NaN,NaN
35753,5873,OECD,6516,Land Use change,724413,Emissions (CO2eq) from CH4 (AR5),3050,FAO TIER 1,kilotonnes,NaN,...,436.7699,128.1795,397.3500,270.9106,230.6636,283.7454,324.2807,NaN,NaN,NaN
35754,5873,OECD,6516,Land Use change,724313,Emissions (CO2eq) from N2O (AR5),3050,FAO TIER 1,kilotonnes,NaN,...,377.4261,110.7638,343.3623,234.1021,199.3235,245.1931,280.2209,NaN,NaN,NaN
35755,5873,OECD,6516,Land Use change,723113,Emissions (CO2eq) (AR5),3050,FAO TIER 1,kilotonnes,NaN,...,160016.5843,159441.3315,159943.1006,209583.1348,209508.1091,209607.0606,209682.6237,NaN,NaN,NaN

In [473]:
Land_Use_Emmissions['Item'].unique()

array(['Emissions on agricultural land', 'Land Use change',
       'Drained organic soils'], dtype=object)

In [471]:
Land_Use_Emmissions=Land_Use_Emmissions.drop(Land_Use_Emmissions.loc[31249:35756].index,axis=0)

In [105]:
Land_Forest=pd.read_csv('../Data/Food/Emissions_Land_Use_Forests_E_All_Data_NOFLAG.csv',encoding="ISO-8859-1")
Land_Fires=pd.read_csv('../Data/Food/Emissions_Land_Use_Fires_E_All_Data_NOFLAG.csv',encoding="ISO-8859-1")
Land_Drained_organic_Soils=pd.read_csv('../Data/Food/Emissions_Drained_Organic_Soils_E_All_Data_NOFLAG.csv',encoding="ISO-8859-1")

In [107]:
Land_Forest.loc[Land_Forest['Area Code'].astype(str).str.len() > 3]

,Area Code,Area,Item Code,Item,Element Code,Element,Source Code,Source,Unit,Y1990,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
1383,5000,World,6751,Forestland,5110,Area,3050,FAO TIER 1,1000 ha,4.236433e+06,...,4.101830e+06,4.097340e+06,4.092850e+06,4.088360e+06,4.083870e+06,4.078883e+06,4.073896e+06,4.068908e+06,4.063921e+06,4.058934e+06
1384,5000,World,6751,Forestland,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,-3.448167e+06,...,-3.966553e+06,-3.966553e+06,-3.966553e+06,-3.966553e+06,-3.966553e+06,-2.636985e+06,-2.636985e+06,-2.636985e+06,-2.636985e+06,-2.636985e+06
1385,5000,World,6750,Net Forest conversion,5110,Area,3050,FAO TIER 1,1000 ha,1.380445e+04,...,1.082518e+04,1.082518e+04,1.082518e+04,1.082518e+04,1.082518e+04,9.857199e+03,9.857199e+03,9.857199e+03,9.857199e+03,9.857199e+03
1386,5000,World,6750,Net Forest conversion,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,4.271167e+06,...,3.302172e+06,3.302172e+06,3.302172e+06,3.302172e+06,3.302172e+06,2.945053e+06,2.945053e+06,2.945053e+06,2.945053e+06,2.945053e+06
1387,5000,World,6749,Carbon stock change in forests,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,8.229999e+05,...,-6.643803e+05,-6.643803e+05,-6.643803e+05,-6.643803e+05,-6.643803e+05,3.080673e+05,3.080673e+05,3.080673e+05,3.080673e+05,3.080673e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,5873,OECD,6751,Forestland,5110,Area,3050,FAO TIER 1,1000 ha,1.067752e+06,...,1.091585e+06,1.092937e+06,1.094289e+06,1.095640e+06,1.096992e+06,1.097372e+06,1.097752e+06,1.098132e+06,1.098513e+06,1.098893e+06
1564,5873,OECD,6751,Forestland,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,-1.131652e+06,...,-1.146823e+06,-1.146823e+06,-1.146823e+06,-1.146823e+06,-1.146823e+06,-8.979050e+05,-8.979050e+05,-8.979050e+05,-8.979050e+05,-8.979050e+05
1565,5873,OECD,6750,Net Forest conversion,5110,Area,3050,FAO TIER 1,1000 ha,1.668381e+03,...,8.557660e+02,8.557660e+02,8.557660e+02,8.557660e+02,8.557660e+02,1.080195e+03,1.080195e+03,1.080195e+03,1.080195e+03,1.080195e+03
1566,5873,OECD,6750,Net Forest conversion,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,3.064739e+05,...,1.592024e+05,1.592024e+05,1.592024e+05,1.592024e+05,1.592024e+05,2.090781e+05,2.090781e+05,2.090781e+05,2.090781e+05,2.090781e+05
1567,5873,OECD,6749,Carbon stock change in forests,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,-8.251776e+05,...,-9.876207e+05,-9.876207e+05,-9.876207e+05,-9.876207e+05,-9.876207e+05,-6.888269e+05,-6.888269e+05,-6.888269e+05,-6.888269e+05,-6.888269e+05

In [108]:
Land_Forest.drop(Land_Forest.index[1383:1587], inplace=True)

In [109]:
Land_Forest

,Area Code,Area,Item Code,Item,Element Code,Element,Source Code,Source,Unit,Y1990,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,2,Afghanistan,6751,Forestland,5110,Area,3050,FAO TIER 1,1000 ha,1208.4400,...,1208.4400,1208.4400,1208.4400,1208.4400,1208.4400,1208.4400,1208.4400,1208.4400,1208.4400,1208.4400
1,2,Afghanistan,6751,Forestland,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,-2388.8030,...,-246.2191,-246.2191,-246.2191,-246.2191,-246.2191,154.6574,154.6574,154.6574,154.6574,154.6574
2,2,Afghanistan,6750,Net Forest conversion,5110,Area,3050,FAO TIER 1,1000 ha,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,2,Afghanistan,6750,Net Forest conversion,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,2,Afghanistan,6749,Carbon stock change in forests,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,-2388.8030,...,-246.2191,-246.2191,-246.2191,-246.2191,-246.2191,154.6574,154.6574,154.6574,154.6574,154.6574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1378,181,Zimbabwe,6751,Forestland,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,-269.3677,...,648.0808,648.0808,648.0808,648.0808,648.0808,76500.2982,76500.2982,76500.2982,76500.2982,76500.2982
1379,181,Zimbabwe,6750,Net Forest conversion,5110,Area,3050,FAO TIER 1,1000 ha,46.0700,...,46.0700,46.0700,46.0700,46.0700,46.0700,46.0700,46.0700,46.0700,46.0700,46.0700
1380,181,Zimbabwe,6750,Net Forest conversion,5110,Area,3051,UNFCCC,1000 ha,327.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1381,181,Zimbabwe,6750,Net Forest conversion,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,10670.8870,...,10670.8870,10670.8870,10670.8870,10670.8870,10670.8870,10662.4408,10662.4408,10662.4408,10662.4408,10662.4408
1382,181,Zimbabwe,6749,Carbon stock change in forests,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,10401.5193,...,11318.9677,11318.9677,11318.9677,11318.9677,11318.9677,87162.7390,87162.7390,87162.7390,87162.7390,87162.7390

In [111]:
Land_Fires.loc[Land_Fires['Area Code'].astype(str).str.len() > 3]

,Area Code,Area,Item Code,Item,Element Code,Element,Source Code,Source,Unit,Y1990,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
10697,5000,World,6992,Forest fires,7245,Biomass burned (dry matter),3050,FAO TIER 1,tonnes,1.284246e+09,...,1.700975e+09,1.282819e+09,1.410049e+09,1.232992e+09,1.261852e+09,1.408086e+09,1.426506e+09,1.397604e+09,1.204911e+09,1.485700e+09
10698,5000,World,6992,Forest fires,7246,Burned Area,3050,FAO TIER 1,ha,2.831226e+07,...,3.853261e+07,2.911687e+07,3.185417e+07,2.779438e+07,2.851025e+07,3.200606e+07,3.242340e+07,3.167788e+07,2.708801e+07,3.339367e+07
10699,5000,World,6992,Forest fires,7225,Emissions (CH4),3050,FAO TIER 1,kilotonnes,3.825876e+03,...,3.912242e+03,2.950484e+03,3.243113e+03,2.835882e+03,2.902260e+03,3.238599e+03,3.280963e+03,3.214490e+03,2.771295e+03,3.417109e+03
10700,5000,World,6992,Forest fires,7230,Emissions (N2O),3050,FAO TIER 1,kilotonnes,2.695289e+02,...,3.572047e+02,2.693920e+02,2.961103e+02,2.589284e+02,2.649889e+02,2.956981e+02,2.995662e+02,2.934969e+02,2.530313e+02,3.119969e+02
10701,5000,World,6796,Humid tropical forest,7245,Biomass burned (dry matter),3050,FAO TIER 1,tonnes,8.763977e+08,...,1.214814e+09,9.181265e+08,9.444139e+08,8.405572e+08,8.637165e+08,1.020565e+09,1.000847e+09,9.946196e+08,7.805188e+08,9.385481e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12320,5873,OECD,6993,Fires in organic soils,7273,Emissions (CO2),3050,FAO TIER 1,kilotonnes,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
12321,5873,OECD,6793,Closed and open shrubland,7245,Biomass burned (dry matter),3050,FAO TIER 1,tonnes,3.319898e+08,...,7.864437e+07,7.785419e+08,7.171320e+08,1.435015e+08,2.799636e+08,2.777334e+08,9.602426e+07,3.918218e+08,3.379805e+08,1.464310e+08
12322,5873,OECD,6793,Closed and open shrubland,7246,Burned Area,3050,FAO TIER 1,ha,2.245629e+07,...,5.208479e+06,5.388086e+07,4.885345e+07,9.274691e+06,1.857849e+07,1.846678e+07,6.195486e+06,2.685396e+07,2.265439e+07,9.405085e+06
12323,5873,OECD,6790,Savanna and woody savanna,7245,Biomass burned (dry matter),3050,FAO TIER 1,tonnes,6.467283e+07,...,2.827433e+07,6.574527e+07,6.761377e+07,5.111280e+07,5.449521e+07,5.113563e+07,3.671005e+07,4.354965e+07,4.182561e+07,4.947282e+07
12324,5873,OECD,6790,Savanna and woody savanna,7246,Burned Area,3050,FAO TIER 1,ha,1.071081e+07,...,5.399977e+06,1.079837e+07,1.092497e+07,9.384698e+06,9.310407e+06,9.628067e+06,6.081781e+06,8.344475e+06,7.074400e+06,8.683787e+06

In [112]:
Land_Fires.drop(Land_Fires.index[10697:12325], inplace=True)

In [113]:
Land_Drained_organic_Soils.loc[Land_Drained_organic_Soils['Area Code'].astype(str).str.len() > 3]

,Area Code,Area,Item Code,Item,Element Code,Element,Source Code,Source,Unit,Y1990,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
1443,5000,World,6727,Cropland organic soils,5026,Area,3050,FAO TIER 1,ha,1.438029e+07,...,1.527705e+07,1.536530e+07,1.543405e+07,1.545677e+07,1.551655e+07,1.551425e+07,1.555708e+07,1.558010e+07,1.567343e+07,1.567343e+07
1444,5000,World,6727,Cropland organic soils,7230,Emissions (N2O),3050,FAO TIER 1,kilotonnes,2.504325e+02,...,2.720706e+02,2.740127e+02,2.755856e+02,2.761851e+02,2.776646e+02,2.776079e+02,2.788280e+02,2.793512e+02,2.809176e+02,2.809176e+02
1445,5000,World,6727,Cropland organic soils,7216,Net stock change (C),3050,FAO TIER 1,kilotonnes,1.608816e+05,...,1.777015e+05,1.791342e+05,1.803175e+05,1.807897e+05,1.819866e+05,1.819344e+05,1.829750e+05,1.833738e+05,1.843327e+05,1.843327e+05
1446,5000,World,6727,Cropland organic soils,7273,Emissions (CO2),3050,FAO TIER 1,kilotonnes,5.898992e+05,...,6.515721e+05,6.568256e+05,6.611643e+05,6.628954e+05,6.672842e+05,6.670929e+05,6.709082e+05,6.723707e+05,6.758867e+05,6.758867e+05
1447,5000,World,6728,Grassland organic soils,5026,Area,3050,FAO TIER 1,ha,8.694733e+06,...,8.857096e+06,8.878637e+06,8.887767e+06,8.891010e+06,8.889734e+06,8.889816e+06,8.903560e+06,8.911978e+06,8.953092e+06,8.953092e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1858,5873,OECD,6728,Grassland organic soils,7273,Emissions (CO2),3050,FAO TIER 1,kilotonnes,1.288226e+04,...,1.296424e+04,1.296280e+04,1.295374e+04,1.293182e+04,1.292013e+04,1.291022e+04,1.289719e+04,1.289513e+04,1.292693e+04,1.292693e+04
1859,5873,OECD,6729,Drained organic soils,5026,Area,3050,FAO TIER 1,ha,9.407578e+06,...,9.845849e+06,9.864375e+06,9.868431e+06,9.865804e+06,9.862820e+06,9.861698e+06,9.861751e+06,9.875273e+06,9.945878e+06,9.945878e+06
1860,5873,OECD,6729,Drained organic soils,7230,Emissions (N2O),3050,FAO TIER 1,kilotonnes,1.239604e+02,...,1.292901e+02,1.295058e+02,1.295391e+02,1.294726e+02,1.294200e+02,1.293963e+02,1.293489e+02,1.295047e+02,1.303776e+02,1.303776e+02
1861,5873,OECD,6729,Drained organic soils,7216,Net stock change (C),3050,FAO TIER 1,kilotonnes,3.407214e+04,...,3.537133e+04,3.540184e+04,3.538584e+04,3.533514e+04,3.529567e+04,3.527503e+04,3.517568e+04,3.520290e+04,3.540664e+04,3.540664e+04
1862,5873,OECD,6729,Drained organic soils,7273,Emissions (CO2),3050,FAO TIER 1,kilotonnes,1.249312e+05,...,1.296949e+05,1.298068e+05,1.297481e+05,1.295622e+05,1.294175e+05,1.293418e+05,1.289775e+05,1.290773e+05,1.298243e+05,1.298243e+05

In [114]:
Land_Drained_organic_Soils.drop(Land_Drained_organic_Soils.index[1443:1863], inplace=True)

In [115]:
Land_Drained_organic_Soils

,Area Code,Area,Item Code,Item,Element Code,Element,Source Code,Source,Unit,Y1990,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,3,Albania,6727,Cropland organic soils,5026,Area,3050,FAO TIER 1,ha,3120.0271,...,3115.4454,3115.4454,3115.4454,3113.8223,3113.8223,3112.1990,3109.0520,3109.0520,3050.6290,3050.6290
1,3,Albania,6727,Cropland organic soils,7230,Emissions (N2O),3050,FAO TIER 1,kilotonnes,0.0378,...,0.0377,0.0377,0.0377,0.0377,0.0377,0.0377,0.0376,0.0376,0.0369,0.0369
2,3,Albania,6727,Cropland organic soils,7216,Net stock change (C),3050,FAO TIER 1,kilotonnes,30.0170,...,29.9712,29.9712,29.9712,29.9550,29.9550,29.9387,29.9111,29.9111,29.3269,29.3269
3,3,Albania,6727,Cropland organic soils,7273,Emissions (CO2),3050,FAO TIER 1,kilotonnes,110.0624,...,109.8944,109.8944,109.8944,109.8349,109.8349,109.7754,109.6740,109.6740,107.5318,107.5318
4,3,Albania,6728,Grassland organic soils,5026,Area,3050,FAO TIER 1,ha,753.1974,...,751.0943,751.0943,751.0943,750.9034,750.9034,750.7124,743.9416,743.9416,737.0684,737.0684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438,251,Zambia,6728,Grassland organic soils,7273,Emissions (CO2),3050,FAO TIER 1,kilotonnes,4358.4182,...,4330.7958,4329.1501,4327.9320,4327.1728,4323.8501,4323.8501,4320.3663,4320.3663,4317.6697,4317.6697
1439,251,Zambia,6729,Drained organic soils,5026,Area,3050,FAO TIER 1,ha,364590.7652,...,365625.9405,365549.8100,365504.8599,365372.3213,365020.2499,365020.2499,364579.0293,364579.0293,363307.2805,363307.2805
1440,251,Zambia,6729,Drained organic soils,7230,Emissions (N2O),3050,FAO TIER 1,kilotonnes,9.1669,...,9.1929,9.1910,9.1898,9.1865,9.1777,9.1777,9.1666,9.1666,9.1346,9.1346
1441,251,Zambia,6729,Drained organic soils,7216,Net stock change (C),3050,FAO TIER 1,kilotonnes,3725.8368,...,3769.1405,3768.9643,3769.0619,3767.0323,3762.7095,3762.7095,3756.7354,3756.7354,3733.5068,3733.5068
1442,251,Zambia,6729,Drained organic soils,7273,Emissions (CO2),3050,FAO TIER 1,kilotonnes,13661.4017,...,13820.1817,13819.5357,13819.8937,13812.4519,13796.6014,13796.6014,13774.6965,13774.6965,13689.5248,13689.5248

In [117]:
Land_Drained_organic_Soils=Land_Drained_organic_Soils.loc[Land_Drained_organic_Soils['Unit']=='kilotonnes']
Land_Fires=Land_Fires.loc[Land_Fires['Unit']=='kilotonnes']
Land_Forest=Land_Forest.loc[Land_Forest['Unit']=='kilotonnes']

In [131]:
Land_Drained_organic_Soils=Land_Drained_organic_Soils.loc[Land_Drained_organic_Soils['Element Code']!=7216]

In [133]:
Land_Drained_organic_Soils=Land_Drained_organic_Soils.groupby(['Area Code','Area','Item','Unit']).sum().reset_index()
Land_Drained_organic_Soils

,Area Code,Area,Item,Unit,Item Code,Element Code,Source Code,Y1990,Y1991,Y1992,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,3,Albania,Cropland organic soils,kilotonnes,13454,14503,6100,110.1002,110.1002,110.1002,...,109.9321,109.9321,109.9321,109.8726,109.8726,109.8131,109.7116,109.7116,107.5687,107.5687
1,3,Albania,Drained organic soils,kilotonnes,13458,14503,6100,116.8539,116.8539,116.8539,...,116.6665,116.6665,116.6665,116.6052,116.6052,116.5440,116.3866,116.3866,114.1806,114.1806
2,3,Albania,Grassland organic soils,kilotonnes,13456,14503,6100,6.7536,6.7536,6.7536,...,6.7344,6.7344,6.7344,6.7326,6.7326,6.7309,6.6750,6.6750,6.6119,6.6119
3,7,Angola,Cropland organic soils,kilotonnes,13454,14503,6100,405.0954,405.0954,405.0954,...,414.5770,413.3608,413.3608,413.3608,411.8390,410.2921,406.8927,406.8927,401.3529,401.3529
4,7,Angola,Drained organic soils,kilotonnes,13458,14503,6100,426.4921,426.4921,426.4921,...,436.9679,435.5994,435.5994,435.5994,434.0776,432.4998,429.0622,429.0622,423.5224,423.5224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,277,South Sudan,Drained organic soils,kilotonnes,13458,14503,6100,0.0000,0.0000,0.0000,...,0.0000,0.0000,6911.9829,6907.9173,6883.1208,6883.1208,6886.5334,6866.0657,6845.8067,6845.8067
333,277,South Sudan,Grassland organic soils,kilotonnes,13456,14503,6100,0.0000,0.0000,0.0000,...,0.0000,0.0000,4396.9296,4392.8639,4371.6775,4371.6775,4383.8121,4387.5333,4382.2235,4382.2235
334,351,China,Cropland organic soils,kilotonnes,13454,14503,6100,1514.5624,1514.5624,1514.5624,...,1594.4400,1599.2418,1599.2208,1598.2263,1599.6610,1599.6610,1601.5479,1601.5460,1601.5460,1601.5460
335,351,China,Drained organic soils,kilotonnes,13458,14503,6100,1578.6087,1578.6087,1578.6087,...,1658.8038,1663.6341,1663.6131,1662.6126,1664.0759,1664.0759,1665.9380,1665.9360,1665.9360,1665.9360
336,351,China,Grassland organic soils,kilotonnes,13456,14503,6100,64.0461,64.0461,64.0461,...,64.3638,64.3923,64.3922,64.3864,64.4148,64.4148,64.3900,64.3900,64.3900,64.3900

In [135]:
Land_Fires=Land_Fires.groupby(['Area Code','Area','Item','Unit']).sum().reset_index()
Land_Fires

,Area Code,Area,Item,Unit,Item Code,Element Code,Source Code,Y1990,Y1991,Y1992,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,1,Armenia,Closed shrubland,kilotonnes,13582,14455,6100,0.0000,0.0000,0.0007,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,1,Armenia,Fires in organic soils,kilotonnes,13986,14498,6100,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,1,Armenia,Forest fires,kilotonnes,13984,14455,6100,0.0000,0.0000,0.0221,...,0.0835,0.0000,0.0217,0.0000,0.0000,0.0082,0.0000,0.0027,0.0434,0.0109
3,1,Armenia,Grassland,kilotonnes,13588,14455,6100,0.0000,0.0000,0.0864,...,0.6534,0.0359,0.0338,0.1130,0.0318,0.0820,0.0750,0.1581,0.0949,0.1335
4,1,Armenia,Humid tropical forest,kilotonnes,13592,14455,6100,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2375,351,China,Open shrubland,kilotonnes,13584,14455,6100,0.7664,0.7664,0.7664,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0008,0.0000,0.0000,0.0000
2376,351,China,Other forest,kilotonnes,13594,14455,6100,19.1017,19.1017,19.1017,...,16.1221,9.5019,7.6895,8.2425,12.9640,11.5641,12.1065,6.4294,13.9791,8.8590
2377,351,China,Savanna,kilotonnes,13520,14455,6100,2.9379,2.9379,2.9379,...,6.8506,3.0758,1.7360,2.1469,2.9675,2.1553,2.1814,1.6883,1.7906,1.1076
2378,351,China,Savanna fires,kilotonnes,13590,14455,6100,7.3388,7.3388,7.3388,...,11.7831,5.4256,4.5498,4.8621,6.9845,5.2318,4.2728,3.3351,4.3616,3.8077
2379,351,China,Woody savanna,kilotonnes,13578,14455,6100,1.7892,1.7892,1.7892,...,3.5810,1.1547,0.8990,1.1120,1.3841,0.9360,0.8159,0.2665,1.1379,0.4528

In [136]:
Land_Forest

,Area Code,Area,Item Code,Item,Element Code,Element,Source Code,Source,Unit,Y1990,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
1,2,Afghanistan,6751,Forestland,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,-2388.8030,...,-246.2191,-246.2191,-246.2191,-246.2191,-246.2191,154.6574,154.6574,154.6574,154.6574,154.6574
3,2,Afghanistan,6750,Net Forest conversion,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,2,Afghanistan,6749,Carbon stock change in forests,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,-2388.8030,...,-246.2191,-246.2191,-246.2191,-246.2191,-246.2191,154.6574,154.6574,154.6574,154.6574,154.6574
6,3,Albania,6751,Forestland,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,72.8581,...,-961.0391,-961.0391,-961.0391,-961.0391,-961.0391,-352.0139,-352.0139,-352.0139,-352.0139,-352.0139
8,3,Albania,6750,Net Forest conversion,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,251,Zambia,6750,Net Forest conversion,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,3622.9600,...,19043.8160,19043.8160,19043.8160,19043.8160,19043.8160,19047.2568,19047.2568,19047.2568,19047.2568,19047.2568
1375,251,Zambia,6749,Carbon stock change in forests,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,3622.9600,...,19043.8160,19043.8160,19043.8160,19043.8160,19043.8160,19047.2568,19047.2568,19047.2568,19047.2568,19047.2568
1378,181,Zimbabwe,6751,Forestland,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,-269.3677,...,648.0808,648.0808,648.0808,648.0808,648.0808,76500.2982,76500.2982,76500.2982,76500.2982,76500.2982
1381,181,Zimbabwe,6750,Net Forest conversion,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,10670.8870,...,10670.8870,10670.8870,10670.8870,10670.8870,10670.8870,10662.4408,10662.4408,10662.4408,10662.4408,10662.4408
1382,181,Zimbabwe,6749,Carbon stock change in forests,72332,Net emissions/removals (CO2) (Forest land),3050,FAO TIER 1,kilotonnes,10401.5193,...,11318.9677,11318.9677,11318.9677,11318.9677,11318.9677,87162.7390,87162.7390,87162.7390,87162.7390,87162.7390

In [512]:
Transport=pd.read_csv('../Data/Food/Environment_Transport_E_All_Data_NOFLAG.csv',encoding="ISO-8859-1")

In [513]:
Transport=Transport.groupby(['Area Code','Area','Item','Unit']).sum().reset_index()
Transport

,Area Code,Area,Item,Unit,Item Code,Element Code,Y1990,Y1991,Y1992,Y1993,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,1,Armenia,Transport,kilotonnes,27260,744841,0.000000,0.000000,405.193976,263.472418,...,282.412856,289.669270,292.397798,287.942490,324.023810,326.822276,354.303312,374.283580,379.043830,275.380140
1,2,Afghanistan,Transport,kilotonnes,27260,744841,91.970255,89.217772,52.990456,51.860207,...,488.471009,979.727675,808.495463,509.737290,376.624387,520.951085,344.765402,470.575744,484.493603,544.319286
2,3,Albania,Transport,kilotonnes,27260,744841,156.389354,118.349275,90.334774,112.125706,...,492.664555,513.242680,494.651794,536.072109,538.222126,531.194476,498.093381,501.195792,439.408618,624.459135
3,4,Algeria,Transport,kilotonnes,27260,744841,3339.810980,3560.715180,3494.861480,3517.398720,...,6667.868995,7197.610665,8169.305551,8569.148323,9317.292419,9896.861734,9590.651756,9467.471463,9668.651004,9467.313306
4,7,Angola,Transport,kilotonnes,27260,744841,225.600540,278.468894,263.025026,267.469972,...,1279.718171,1426.999571,1450.348172,1659.441612,1715.087802,1730.554950,1719.640277,1454.035083,1445.133544,1688.075173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,5815,Low Income Food Deficit Countries,Transport,kilotonnes,27260,744841,27752.376515,28468.593210,27958.341601,27336.053852,...,69270.918734,74244.622404,77575.238527,79172.221947,82262.751901,87203.594733,91335.049120,96501.970018,98957.794286,92802.378191
226,5817,Net Food Importing Developing Countries,Transport,kilotonnes,27260,744841,26195.402246,26592.692864,27162.150271,28231.697450,...,59879.401076,61823.197651,66326.562443,66991.818842,70895.419948,73032.612170,75527.085437,77965.679268,78768.074935,77777.878904
227,5848,Annex I countries,Transport,kilotonnes,27260,744841,389030.762844,390982.035064,392299.645658,386977.928672,...,440531.576320,440188.900990,432215.182875,436084.254667,437059.663490,444987.050046,448857.378439,451844.514883,448961.779443,462631.818361
228,5849,Non-Annex I countries,Transport,kilotonnes,27260,744841,200447.241794,207682.145623,215868.587381,225572.683684,...,452342.060009,475588.468136,506434.648173,526391.672541,541516.486255,549884.392182,566037.554770,581223.296478,586009.006061,590970.736796
229,5873,OECD,Transport,kilotonnes,27260,744841,357742.282231,362084.362947,373882.561120,380211.784144,...,452706.086442,451003.615466,444626.338332,448553.889359,449390.185006,459472.691960,465716.335907,466776.442398,465297.791844,485427.959850

In [514]:
Transport.loc[Transport['Area Code'].astype(str).str.len() > 3]

,Area Code,Area,Item,Unit,Item Code,Element Code,Y1990,Y1991,Y1992,Y1993,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
192,5000,World,Transport,kilotonnes,27260,744841,589491.279693,598680.416967,608182.806109,612564.268825,...,892897.193432,915800.898135,938674.472556,962501.910234,978601.625164,994897.790097,1.014922e+06,1.033092e+06,1.034996e+06,1.053631e+06
193,5100,Africa,Transport,kilotonnes,27260,744841,24433.688731,25595.813090,26741.944279,26603.008360,...,55411.912250,56318.018957,60479.728564,68164.656843,71518.099587,72356.074784,7.544942e+04,7.594047e+04,8.017483e+04,7.562554e+04
194,5101,Eastern Africa,Transport,kilotonnes,27260,744841,2473.503237,2525.145134,2557.416678,2535.230728,...,4956.466595,5300.452083,5851.170670,6467.994665,6795.575252,7505.108173,8.170157e+03,8.267944e+03,8.780800e+03,7.540416e+03
195,5102,Middle Africa,Transport,kilotonnes,27260,744841,967.815772,996.589032,942.749523,969.635613,...,2819.638356,3153.110441,3211.985925,3800.532080,4165.594495,3705.611511,3.499527e+03,3.227642e+03,3.193824e+03,3.710730e+03
196,5103,Northern Africa,Transport,kilotonnes,27260,744841,10442.838921,10758.135673,10938.572211,11288.960148,...,26318.507867,26451.351585,29251.135531,30117.837473,32018.416376,32412.129520,3.378841e+04,3.381366e+04,3.374506e+04,3.422571e+04
197,5104,Southern Africa,Transport,kilotonnes,27260,744841,6650.799927,6625.145277,6699.465049,6816.477697,...,10930.177643,11382.919667,11435.529815,12552.979283,12066.942921,12654.076420,1.211699e+04,1.262233e+04,1.272026e+04,1.319260e+04
198,5105,Western Africa,Transport,kilotonnes,27260,744841,3898.730873,4690.797976,5603.740815,4992.704175,...,10387.121789,10030.185180,10729.906624,15225.313341,16471.570543,16079.149161,1.787433e+04,1.800890e+04,2.173489e+04,1.695608e+04
199,5200,Americas,Transport,kilotonnes,27260,744841,172702.884748,172559.512031,178031.887640,181388.245280,...,251828.775610,257245.260983,260544.149232,264091.303267,266268.296462,268526.348299,2.709078e+05,2.704517e+05,2.713583e+05,2.853313e+05
200,5203,Northern America,Transport,kilotonnes,27260,744841,111211.806555,108359.770035,112263.694158,112979.174052,...,136992.682610,137045.431753,133904.442858,137971.219336,137070.031618,140984.342467,1.413615e+05,1.407645e+05,1.444237e+05,1.482569e+05
201,5204,Central America,Transport,kilotonnes,27260,744841,20074.436009,21393.230814,22037.700064,22654.794600,...,38224.331694,38377.813451,38581.309248,38238.525873,38729.365765,39231.032801,4.076454e+04,3.994990e+04,4.014651e+04,4.355382e+04
202,5206,Caribbean,Transport,kilotonnes,27260,744841,2576.294455,2292.143373,2111.065739,1963.933980,...,3795.889086,3856.997010,3730.469973,3619.621448,3638.048643,3882.933466,3.945017e+03,3.943449e+03,3.961263e+03,4.334318e+03
203,5207,South America,Transport,kilotonnes,27260,744841,38840.347730,40514.367809,41619.427680,43790.342646,...,72815.872219,77965.018769,84327.927152,84261.936612,86830.850436,84428.039566,8.483675e+04,8.579383e+04,8.282687e+04,8.918627e+04
204,5300,Asia,Transport,kilotonnes,27260,744841,160438.787669,166512.938959,173950.591359,182831.521796,...,333864.185838,349886.310602,371521.327562,385010.317610,393300.037120,404405.145414,4.161028e+05,4.309061e+05,4.310626e+05,4.324388e+05
205,5301,Central Asia,Transport,kilotonnes,27260,744841,6783.320832,7609.664837,6301.106862,5271.635639,...,5910.908456,6083.135244,6793.330503,6565.844583,6679.141722,6469.490882,6.834408e+03,6.296436e+03,6.331963e+03,6.288292e+03
206,5302,Eastern Asia,Transport,kilotonnes,27260,744841,71284.068754,74624.129318,78439.430826,82030.931112,...,129739.398537,133410.669385,139304.877448,144343.241741,145590.543646,150718.792533,1.520561e+05,1.552808e+05,1.544930e+05,1.601485e+05
207,5303,Southern Asia,Transport,kilotonnes,27260,744841,27907.295029,29352.235981,30461.852989,31886.321898,...,79103.399183,83498.207777,87842.160156,89437.407623,92698.704440,97678.250138,1.016913e+05,1.100760e+05,1.128372e+05,1.067056e+05
208,5304,South-eastern Asia,Transport,kilotonnes,27260,744841,20865.809251,22046.313989,23433.261699,26198.662414,...,54798.957942,59715.076706,65002.972752,69248.346060,70836.711320,69535.450599,7.419917e+04,7.753315e+04,7.896600e+04,7.706461e+04
209,5305,Western Asia,Transport,kilotonnes,27260,744841,33598.293802,32880.594833,35314.938983,37443.970733,...,64311.521718,67179.221490,72577.986703,75415.477606,77494.935991,80003.161263,8.132186e+04,8.171967e+04,7.843447e+04,8.223184e+04
210,5400,Europe,Transport,kilotonnes,27260,744841,216674.197690,219250.238583,214346.191568,206366.808107,...,230291.591431,230098.574254,223437.514401,222555.328034,224905.412317,226288.206858,2.288890e+05,2.315230e+05,2.275665e+05,2.354745e+05
211,5401,Eastern Europe,Transport,kilotonnes,27260,744841,66447.569313,65968.164586,57809.702682,48090.240806,...,57687.991991,58649.956096,57792.975204,57813.159897,58614.333745,58456.677258,5.937951e+04,6.250508e+04,6.091525e+04,5.853926e+04
212,5402,Northern Europe,Transport,kilotonnes,27260,744841,29125.346429,29073.140971,28897.761491,29038.662941,...,31563.339582,30982.734369,30548.865563,30212.430696,30373.815889,30997.389592,3.169564e+04,3.153510e+04,3.094981e+04,3.232921e+04
213,5403,Southern Europe,Transport,kilotonnes,27260,744841,45243.785502,46091.032939,47997.193915,48848.294237,...,59550.835626,57910.163681,53381.211245,52622.202848,54358.516046,54477.911955,5.488324e+04,5.417708e+04,5.464939e+04,6.071646e+04
214,5404,Western Europe,Transport,kilotonnes,27260,744841,75857.496448,78117.900088,79641.533479,80389.610124,...,81489.424233,82555.720108,81714.462389,81907.534592,81558.746636,82356.228052,8.293059e+04,8.330572e+04,8.105200e+04,8.388962e+04
215,5500,Oceania,Transport,kilotonnes,27260,744841,15241.720855,14761.914303,15112.191264,15374.685282,...,21500.728303,22252.733342,22691.752797,22680.304478,22609.779679,23322.014740,2.357301e+04,2.427076e+04,2.483407e+04,2.476067e+04
216,5501,Australia and New Zealand,Transport,kilotonnes,27260,744841,14843.750405,14362.700391,14705.074500,14967.342914,...,20484.434947,20834.369220,20964.314879,21242.407844,21277.885939,21874.362303,2.214030e+04,2.283688e+04,2.335870e+04,2.328836e+04
217,5502,Melanesia,Transport,kilotonnes,27260,744841,222.119399,222.843383,240.398776,238.502510,...,680.111708,959.564113,1031.759586,1009.306941,1057.570304,1151.605682,1.161678e+03,1.156112e+03,1.189668e+03,1.118450e+03
218,5503,Micronesia,Transport,kilotonnes,27260,744841,121.482939,120.582557,110.306713,112.877408,...,217.370414,278.166161,529.617686,280.540963,135.966226,129.335211,1.239281e+02,1.294805e+02,1.331766e+02,1.978682e+02
219,5504,Polynesia,Transport,kilotonnes,27260,744841,54.368112,55.787972,56.411275,55.962449,...,118.811233,180.633847,166.060644,148.048729,138.357209,166.711544,1.471095e+02,1.482939e+02,1.525201e+02,1.559927e+02
220,5706,European Union (28),Transport,kilotonnes,27260,744841,149544.061533,151737.490768,155668.388499,157088.398550,...,174483.804260,173470.570003,167664.347020,165934.877911,167896.922959,170457.561422,1.734824e+05,1.749749e+05,1.732677e+05,1.809572e+05
221,5707,European Union (27),Transport,kilotonnes,27260,744841,131527.727475,133838.251585,137610.924382,138772.782550,...,156441.578208,155611.560057,149810.388783,148279.998216,150091.954292,152078.106911,1.547921e+05,1.561287e+05,1.549143e+05,1.623464e+05
222,5801,Least Developed Countries,Transport,kilotonnes,27260,744841,4833.772700,5102.888013,5141.809634,4822.422932,...,14878.981492,16380.111250,16944.701985,18510.852117,19616.808537,19356.919712,2.070759e+04,2.175698e+04,2.293042e+04,2.121605e+04
223,5802,Land Locked Developing Countries,Transport,kilotonnes,27260,744841,12114.658682,12453.120406,10922.526780,9805.159416,...,14160.113369,15753.325434,16934.948083,17222.352130,17685.573004,18084.590527,1.897105e+04,1.955533e+04,2.018420e+04,1.815378e+04
224,5803,Small Island Developing States,Transport,kilotonnes,27260,744841,4122.424182,4035.584483,3835.062532,3752.596933,...,7390.950813,7954.610950,8339.206930,7893.901073,7955.810141,8448.268980,8.528645e+03,8.537000e+03,8.677855e+03,9.083444e+03
225,5815,Low Income Food Deficit Countries,Transport,kilotonnes,27260,744841,27752.376515,28468.593210,27958.341601,27336.053852,...,69270.918734,74244.622404,77575.238527,79172.221947,82262.751901,87203.594733,9.133505e+04,9.650197e+04,9.895779e+04,9.280238e+04
226,5817,Net Food Importing Developing Countries,Transport,kilotonnes,27260,744841,26195.402246,26592.692864,27162.150271,28231.697450,...,59879.401076,61823.197651,66326.562443,66991.818842,70895.419948,73032.612170,7.552709e+04,7.796568e+04,7.876807e+04,7.777788e+04
227,5848,Annex I countries,Transport,kilotonnes,27260,744841,389030.762844,390982.035064,392299.645658,386977.928672,...,440531.576320,440188.900990,432215.182875,436084.254667,437059.663490,444987.050046,4.488574e+05,4.518445e+05,4.489618e+05,4.626318e+05
228,5849,Non-Annex I countries,Transport,kilotonnes,27260,744841,200447.241794,207682.145623,215868.587381,225572.683684,...,452342.060009,475588.468136,506434.648173,526391.672541,541516.486255,549884.392182,5.660376e+05,5.812233e+05,5.860090e+05,5.909707e+05
229,5873,OECD,Transport,kilotonnes,27260,744841,357742.282231,362084.362947,373882.561120,380211.784144,...,452706.086442,451003.615466,444626.338332,448553.889359,449390.185006,459472.691960,4.657163e+05,4.667764e+05,4.652978e+05,4.854280e+05

In [515]:
Transport.drop(Transport.index[5000:5874], inplace=True)

In [516]:
Transport

,Area Code,Area,Item,Unit,Item Code,Element Code,Y1990,Y1991,Y1992,Y1993,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,1,Armenia,Transport,kilotonnes,27260,744841,0.000000,0.000000,405.193976,263.472418,...,282.412856,289.669270,292.397798,287.942490,324.023810,326.822276,354.303312,374.283580,379.043830,275.380140
1,2,Afghanistan,Transport,kilotonnes,27260,744841,91.970255,89.217772,52.990456,51.860207,...,488.471009,979.727675,808.495463,509.737290,376.624387,520.951085,344.765402,470.575744,484.493603,544.319286
2,3,Albania,Transport,kilotonnes,27260,744841,156.389354,118.349275,90.334774,112.125706,...,492.664555,513.242680,494.651794,536.072109,538.222126,531.194476,498.093381,501.195792,439.408618,624.459135
3,4,Algeria,Transport,kilotonnes,27260,744841,3339.810980,3560.715180,3494.861480,3517.398720,...,6667.868995,7197.610665,8169.305551,8569.148323,9317.292419,9896.861734,9590.651756,9467.471463,9668.651004,9467.313306
4,7,Angola,Transport,kilotonnes,27260,744841,225.600540,278.468894,263.025026,267.469972,...,1279.718171,1426.999571,1450.348172,1659.441612,1715.087802,1730.554950,1719.640277,1454.035083,1445.133544,1688.075173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,5815,Low Income Food Deficit Countries,Transport,kilotonnes,27260,744841,27752.376515,28468.593210,27958.341601,27336.053852,...,69270.918734,74244.622404,77575.238527,79172.221947,82262.751901,87203.594733,91335.049120,96501.970018,98957.794286,92802.378191
226,5817,Net Food Importing Developing Countries,Transport,kilotonnes,27260,744841,26195.402246,26592.692864,27162.150271,28231.697450,...,59879.401076,61823.197651,66326.562443,66991.818842,70895.419948,73032.612170,75527.085437,77965.679268,78768.074935,77777.878904
227,5848,Annex I countries,Transport,kilotonnes,27260,744841,389030.762844,390982.035064,392299.645658,386977.928672,...,440531.576320,440188.900990,432215.182875,436084.254667,437059.663490,444987.050046,448857.378439,451844.514883,448961.779443,462631.818361
228,5849,Non-Annex I countries,Transport,kilotonnes,27260,744841,200447.241794,207682.145623,215868.587381,225572.683684,...,452342.060009,475588.468136,506434.648173,526391.672541,541516.486255,549884.392182,566037.554770,581223.296478,586009.006061,590970.736796
229,5873,OECD,Transport,kilotonnes,27260,744841,357742.282231,362084.362947,373882.561120,380211.784144,...,452706.086442,451003.615466,444626.338332,448553.889359,449390.185006,459472.691960,465716.335907,466776.442398,465297.791844,485427.959850

In [474]:
Farm_gate_Emmissions=Farm_gate_Emmissions.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [224]:
Farm_gate_Emmissions.dtypes

Area Code        int64
Area            object
Item            object
Unit            object
Item Code        int64
                 ...
Country Code     int64
ISO3 Code       object
Code            object
Region          object
Income group    object
Length: 74, dtype: object

In [227]:
Farm_gate_Emmissions.head()

,Area Code,Area,Item,Unit,Item Code,Element Code,Source Code,Y1961,Y1962,Y1963,...,Y2018,Y2019,Y2020,Y2030,Y2050,Country Code,ISO3 Code,Code,Region,Income group
0,1,Armenia,Burning - Crop residues,kilotonnes,50660,4372588,30505,0.0,0.0,0.0,...,5.3374,4.6167,0.0,8.4016,8.2646,1,ARM,ARM,Europe & Central Asia,Upper middle income
1,1,Armenia,Crop Residues,kilotonnes,25320,1469126,15250,0.0,0.0,0.0,...,52.1908,35.7104,0.0,66.9308,67.2797,1,ARM,ARM,Europe & Central Asia,Upper middle income
2,1,Armenia,Emissions on agricultural land,kilotonnes,55960,2208037,24400,0.0,0.0,0.0,...,4359.7365,4489.6836,0.0,3546.9928,4042.2339,1,ARM,ARM,Europe & Central Asia,Upper middle income
3,1,Armenia,Enteric Fermentation,kilotonnes,30348,2909502,18303,0.0,0.0,0.0,...,1482.8870,1434.8620,0.0,1836.0467,2048.2417,1,ARM,ARM,Europe & Central Asia,Upper middle income
4,1,Armenia,Manure Management,kilotonnes,50590,4372588,30505,0.0,0.0,0.0,...,110.2856,115.8243,0.0,126.1994,144.3756,1,ARM,ARM,Europe & Central Asia,Upper middle income

In [475]:
Farm_emission_trend=Farm_gate_Emmissions.groupby(["Area Code","Area","Unit","Code","Region","Income group"]).mean().reset_index()

In [476]:
Farm_emission_trend

,Area Code,Area,Unit,Code,Region,Income group,Item Code,Element Code,Source Code,Y1961,...,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2030,Y2050,Country Code
0,1,Armenia,kilotonnes,ARM,Europe & Central Asia,Upper middle income,34351.500000,2.465594e+06,19826.625000,0.000000,...,575.435962,548.288175,672.453175,564.606450,534.779612,550.571825,0.0,443.374087,505.279250,1.0
1,2,Afghanistan,kilotonnes,AFG,South Asia,Low income,31097.111111,2.271995e+06,17962.333333,2430.415111,...,3899.452922,3651.193978,3666.990956,3619.797444,3558.431344,3710.535822,0.0,4402.766489,5903.825289,2.0
2,3,Albania,kilotonnes,ALB,Europe & Central Asia,Upper middle income,32221.333333,2.353278e+06,18640.333333,500.428456,...,802.966011,812.083867,814.962622,803.744311,773.994622,737.002789,0.0,892.284467,892.760611,3.0
3,4,Algeria,kilotonnes,DZA,Middle East & North Africa,Lower middle income,31095.555556,2.271995e+06,17962.333333,750.755078,...,2912.555800,2958.067200,2931.942944,2896.188478,2905.776600,2924.322522,0.0,2787.204411,3413.318467,4.0
4,5,American Samoa,kilotonnes,ASM,East Asia & Pacific,Upper middle income,25330.000000,2.186294e+06,15250.000000,0.003800,...,0.003800,0.003900,0.003900,0.003900,0.003900,0.004100,0.0,0.004300,0.004700,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,273,Montenegro,kilotonnes,MNE,Europe & Central Asia,Upper middle income,33085.000000,2.374151e+06,19063.875000,0.000000,...,119.191100,121.863825,118.282250,114.034513,111.120162,107.302062,0.0,144.673325,143.708975,273.0
206,276,Sudan,kilotonnes,SDN,Sub-Saharan Africa,Low income,24910.333333,1.705796e+06,14233.333333,0.000000,...,16497.801933,16684.539744,16895.225067,16947.217278,17120.958267,17185.515144,0.0,0.000000,0.000000,276.0
207,277,South Sudan,kilotonnes,SSD,Sub-Saharan Africa,Low income,31821.125000,2.372354e+06,18301.750000,0.000000,...,10566.450425,10600.136988,6845.335513,6858.703337,6969.149975,7436.190000,0.0,0.000000,0.000000,277.0
208,299,Palestine,kilotonnes,PSE,Middle East & North Africa,Lower middle income,26244.000000,1.775469e+06,14814.285714,0.000000,...,102.494886,103.521157,97.291771,93.387486,101.190629,98.941129,0.0,119.694857,130.199300,299.0
209,351,China,kilotonnes,CHN,East Asia & Pacific,Upper middle income,32221.333333,2.353278e+06,18640.333333,68974.898378,...,283982.295511,187407.972989,188444.825511,185934.341844,179348.212822,177134.526800,0.0,197077.397622,212908.623300,351.0

In [477]:
Farm_emission_trend=Farm_emission_trend.melt(id_vars=["Area Code","Area","Unit","Code","Region","Income group"], 
        var_name="Year", 
        value_name="Value")

In [478]:
Farm_emission_trend.to_csv('../Data/Food/Tableau/Farm_emission_trend.csv')

In [479]:
Land_Use_Emmissions=Land_Use_Emmissions.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [480]:
Farm_gate_Emmissions.to_csv('../Data/Food/Tableau/Farm_gate_Emmissions.csv')

In [481]:
Land_Use_Emmissions.to_csv('../Data/Food/Tableau/Land_Use_Emmissions.csv')

In [517]:
Transport=Transport.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [523]:

CO2_Total_waste=CO2_Total_waste.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [ ]:
Transport.to_csv('../Data/Food/Tableau/Transport.csv')

In [ ]:
CO2_Total_waste.to_csv('../Data/Food/Tableau/CO2_Total_waste.csv')

In [518]:
Transport.head(1)

,Area Code,Area,Item,Unit,Item Code,Element Code,Y1990,Y1991,Y1992,Y1993,...,Y2015,Y2016,Y2017,Y2018,Y2019,Country Code,ISO3 Code,Code,Region,Income group
0,1,Armenia,Transport,kilotonnes,27260,744841,0.0,0.0,405.193976,263.472418,...,326.822276,354.303312,374.28358,379.04383,275.38014,1,ARM,ARM,Europe & Central Asia,Upper middle income

In [491]:
Farm_gate_Emmissions.dtypes

Area Code        int64
Area            object
Item            object
Unit            object
Item Code        int64
                 ...
Country Code     int64
ISO3 Code       object
Code            object
Region          object
Income group    object
Length: 74, dtype: object

In [495]:
Farm=Farm_gate_Emmissions.groupby(['Region','Area','Item','Income group','Unit','Area Code'])['Y2019'].mean().reset_index()

In [527]:
Farm['Category']='Agriculture'

In [496]:
Land=Land_Use_Emmissions.groupby(['Region','Area','Item','Income group','Unit','Area Code'])['Y2019'].mean().reset_index()

In [533]:
Land['Category']='Land_Use_Change'

In [519]:
agri_transport=Transport.groupby(['Region','Area','Item','Income group','Unit','Area Code'])['Y2019'].mean().reset_index()

In [528]:
agri_transport['Category']='Transport'

In [624]:
agri_Co2_waste=CO2_Total_waste.groupby(['Region','Area','Item','Income group','Unit','Area Code'])['Y2019'].mean().reset_index()

In [625]:
agri_Co2_waste['Category']='Food_Waste'

In [626]:
agri_Co2_waste['Item'].unique()

array(['Domestic wastewater', 'Incineration', 'Industrial wastewater',
       'Solid food waste', 'Total  waste from food systems'], dtype=object)

In [627]:
agri_Co2_waste=agri_Co2_waste.loc[agri_Co2_waste['Item']!='Total  waste from food systems']

In [511]:
type(Land)

pandas.core.frame.DataFrame

In [628]:
Total_Agri_Emmision=pd.concat([Farm,Land,agri_transport,agri_Co2_waste])

In [645]:
Item_Area_Region=Total_Agri_Emmision.groupby(['Region','Area','Category','Item'])['Y2019'].sum().reset_index()
Item_Area_Region['Percentage']= round(100 * Item_Area_Region['Y2019'] / Item_Area_Region.groupby('Area')['Y2019'].transform('sum'),2)
Item_Area_Region

,Region,Area,Category,Item,Y2019,Percentage
0,East Asia & Pacific,American Samoa,Agriculture,Burning - Crop residues,0.004100,0.05
1,East Asia & Pacific,American Samoa,Food_Waste,Domestic wastewater,1.978407,24.32
2,East Asia & Pacific,American Samoa,Food_Waste,Incineration,0.000000,0.00
3,East Asia & Pacific,American Samoa,Food_Waste,Industrial wastewater,0.000000,0.00
4,East Asia & Pacific,American Samoa,Food_Waste,Solid food waste,0.000000,0.00
...,...,...,...,...,...,...
3183,Sub-Saharan Africa,Zimbabwe,Food_Waste,Industrial wastewater,67.601952,0.21
3184,Sub-Saharan Africa,Zimbabwe,Food_Waste,Solid food waste,506.126032,1.60
3185,Sub-Saharan Africa,Zimbabwe,Land_Use_Change,Emissions on agricultural land,5686.267988,17.93
3186,Sub-Saharan Africa,Zimbabwe,Land_Use_Change,Land Use change,3554.146933,11.21
3187,Sub-Saharan Africa,Zimbabwe,Transport,Transport,477.329513,1.50

In [646]:
Item_Area_Region.to_csv('../Data/Food/Tableau/Item_Area_Region.csv')

In [634]:
Area_Category_Region=Total_Agri_Emmision.groupby(['Region','Category','Area'])['Y2019'].sum().reset_index()
Area_Category_Region['Percentage'] = round(100 * Area_Category_Region['Y2019'] / Area_Category_Region.groupby('Category')['Y2019'].transform('sum'),2)
Area_Category_Region

,Region,Category,Area,Y2019,Percentage
0,East Asia & Pacific,Agriculture,American Samoa,4.100000e-03,0.00
1,East Asia & Pacific,Agriculture,Australia,3.552327e+05,2.37
2,East Asia & Pacific,Agriculture,Brunei Darussalam,2.236040e+02,0.00
3,East Asia & Pacific,Agriculture,Cambodia,4.490271e+04,0.30
4,East Asia & Pacific,Agriculture,China,1.594211e+06,10.64
...,...,...,...,...,...
813,Sub-Saharan Africa,Transport,Togo,3.784113e+02,0.04
814,Sub-Saharan Africa,Transport,Uganda,4.906338e+02,0.05
815,Sub-Saharan Africa,Transport,United Republic of Tanzania,1.251273e+03,0.12
816,Sub-Saharan Africa,Transport,Zambia,2.282521e+02,0.02
817,Sub-Saharan Africa,Transport,Zimbabwe,4.773295e+02,0.05

In [637]:
Area_Category_Region.to_csv('../Data/Food/Tableau/Area_Category_Region.csv')

In [632]:
Item_Category_Region=Total_Agri_Emmision.groupby(['Region','Category','Item'])['Y2019'].sum().reset_index()
Item_Category_Region['Percentage'] = round(100 * Item_Category_Region['Y2019'] / Item_Category_Region.groupby('Category')['Y2019'].transform('sum'),2)
Item_Category_Region

,Region,Category,Item,Y2019,Percentage
0,East Asia & Pacific,Agriculture,Burning - Crop residues,2.217820e+04,0.15
1,East Asia & Pacific,Agriculture,Crop Residues,1.106863e+05,0.74
2,East Asia & Pacific,Agriculture,Enteric Fermentation,1.023450e+06,6.83
3,East Asia & Pacific,Agriculture,Manure Management,2.484825e+05,1.66
4,East Asia & Pacific,Agriculture,Manure applied to Soils,9.270274e+04,0.62
...,...,...,...,...,...
113,Sub-Saharan Africa,Food_Waste,Solid food waste,8.390551e+04,6.56
114,Sub-Saharan Africa,Land_Use_Change,Drained organic soils,7.417754e+04,1.63
115,Sub-Saharan Africa,Land_Use_Change,Emissions on agricultural land,5.729095e+05,12.55
116,Sub-Saharan Africa,Land_Use_Change,Land Use change,4.064935e+05,8.91
117,Sub-Saharan Africa,Transport,Transport,4.331910e+04,4.16

In [638]:
Item_Category_Region.to_csv('../Data/Food/Tableau/Item_Category_Region.csv')

In [537]:
Stage=Total_Agri_Emmision.groupby('Category')['Y2019'].mean().reset_index()
Stage

          Category        Y2019
0      Agriculture  9112.699887
1       Food_Waste  2456.483822
2  Land_Use_Change  8659.916227
3        Transport  5593.285276

In [605]:
Stage.to_csv('../Data/Food/Tableau/Stage.csv')

In [633]:
Food_Emission_Region=Total_Agri_Emmision.groupby('Region')['Y2019'].sum().reset_index()
Food_Emission_Region['Percentage']=round(Food_Emission_Region['Y2019'] / 
                  Food_Emission_Region['Y2019'].sum(),2)*100
Food_Emission_Region

                       Region         Y2019  Percentage
0         East Asia & Pacific  5.543380e+06        25.0
1       Europe & Central Asia  3.811745e+06        17.0
2   Latin America & Caribbean  3.502586e+06        16.0
3  Middle East & North Africa  6.380303e+05         3.0
4               North America  2.548453e+06        12.0
5                  South Asia  2.876194e+06        13.0
6          Sub-Saharan Africa  2.943616e+06        13.0

In [639]:
Food_Emission_Region.to_csv('../Data/Food/Tableau/Food_Emission_Region.csv')

In [635]:
region_catgry_emission=Total_Agri_Emmision.groupby(['Region','Category'])['Y2019'].mean().reset_index()


region_catgry_emission['Percentage'] = round(100 * region_catgry_emission['Y2019'] / region_catgry_emission.groupby('Region')['Y2019'].transform('sum'),2)
region_catgry_emission

                        Region         Category          Y2019  Percentage
0          East Asia & Pacific      Agriculture   12510.177759       30.62
1          East Asia & Pacific       Food_Waste    2572.357282        6.30
2          East Asia & Pacific  Land_Use_Change   16365.024551       40.06
3          East Asia & Pacific        Transport    9404.302261       23.02
4        Europe & Central Asia      Agriculture    7115.406645       43.90
5        Europe & Central Asia       Food_Waste     833.488286        5.14
6        Europe & Central Asia  Land_Use_Change    2703.075553       16.68
7        Europe & Central Asia        Transport    5557.204356       34.28
8    Latin America & Caribbean      Agriculture    7667.276093       33.15
9    Latin America & Caribbean       Food_Waste    1381.690786        5.97
10   Latin America & Caribbean  Land_Use_Change   10476.202026       45.29
11   Latin America & Caribbean        Transport    3604.438202       15.58
12  Middle East & North Africa      Agriculture    2178.210908       20.07
13  Middle East & North Africa       Food_Waste    1076.651068        9.92
14  Middle East & North Africa  Land_Use_Change    1149.364263       10.59
15  Middle East & North Africa        Transport    6448.631250       59.42
16               North America      Agriculture  102271.998610       47.05
17               North America       Food_Waste    6736.542991        3.10
18               North America  Land_Use_Change   34248.925215       15.76
19               North America        Transport   74091.692244       34.09
20                  South Asia      Agriculture   33631.812643       50.71
21                  South Asia       Food_Waste    6758.911692       10.19
22                  South Asia  Land_Use_Change   16590.421772       25.01
23                  South Asia        Transport    9346.094006       14.09
24          Sub-Saharan Africa      Agriculture    4217.996154       29.18
25          Sub-Saharan Africa       Food_Waste     677.043426        4.68
26          Sub-Saharan Africa  Land_Use_Change    8635.906044       59.75
27          Sub-Saharan Africa        Transport     921.682956        6.38

In [640]:
region_catgry_emission.to_csv('../Data/Food/Tableau/region_catgry_emission.csv')

In [ ]:
Farm_Item=Farm.groupby('Item')['Y2019'].mean().reset_index()

In [ ]:



Land_Fires=Land_Fires.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')
Land_Forest=Land_Forest.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [144]:
Land_Drained_organic_Soils=Land_Drained_organic_Soils.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [198]:
Land_Drained_organic_Soils.to_csv('../Data/Food/Tableau/Land_Drained_organic_Soils.csv')

Land_Fires.to_csv('../Data/Food/Tableau/Land_Fires.csv')
Land_Forest.to_csv('../Data/Food/Tableau/Land_Forest.csv')

NameError: name 'Land_Drained_organic_Soils' is not defined

In [563]:
Food_production=pd.read_csv('../Data/Food/FAO_food_production.csv')
Food_production

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,2,Afghanistan,5510,Production,221,"Almonds, with shell",2020,2020,tonnes,39307.0,NaN,Official data
1,QCL,Crops and livestock products,2,Afghanistan,5510,Production,711,"Anise, badian, fennel, coriander",2020,2020,tonnes,18387.0,Im,FAO data based on imputation methodology
2,QCL,Crops and livestock products,2,Afghanistan,5510,Production,515,Apples,2020,2020,tonnes,270857.0,NaN,Official data
3,QCL,Crops and livestock products,2,Afghanistan,5510,Production,526,Apricots,2020,2020,tonnes,131788.0,NaN,Official data
4,QCL,Crops and livestock products,2,Afghanistan,5510,Production,44,Barley,2020,2020,tonnes,127757.0,NaN,Official data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14648,QCL,Crops and livestock products,181,Zimbabwe,5510,Production,692,Vanilla,2020,2020,tonnes,10.0,Im,FAO data based on imputation methodology
14649,QCL,Crops and livestock products,181,Zimbabwe,5510,Production,463,"Vegetables, fresh nes",2020,2020,tonnes,184570.0,Im,FAO data based on imputation methodology
14650,QCL,Crops and livestock products,181,Zimbabwe,5510,Production,420,"Vegetables, leguminous nes",2020,2020,tonnes,822.0,Im,FAO data based on imputation methodology
14651,QCL,Crops and livestock products,181,Zimbabwe,5510,Production,15,Wheat,2020,2020,tonnes,150000.0,*,Unofficial figure
14652,QCL,Crops and livestock products,181,Zimbabwe,5510,Production,987,"Wool, greasy",2020,2020,tonnes,2485.0,Im,FAO data based on imputation methodology

In [564]:
Food_production=Food_production.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code (FAO)',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [568]:
Food_production

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Country Code,ISO3 Code,Code,Region,Income group
0,QCL,Crops and livestock products,2,Afghanistan,5510,Production,221,"Almonds, with shell",2020,2020,tonnes,39307.0,NaN,Official data,2,AFG,AFG,South Asia,Low income
1,QCL,Crops and livestock products,2,Afghanistan,5510,Production,711,"Anise, badian, fennel, coriander",2020,2020,tonnes,18387.0,Im,FAO data based on imputation methodology,2,AFG,AFG,South Asia,Low income
2,QCL,Crops and livestock products,2,Afghanistan,5510,Production,515,Apples,2020,2020,tonnes,270857.0,NaN,Official data,2,AFG,AFG,South Asia,Low income
3,QCL,Crops and livestock products,2,Afghanistan,5510,Production,526,Apricots,2020,2020,tonnes,131788.0,NaN,Official data,2,AFG,AFG,South Asia,Low income
4,QCL,Crops and livestock products,2,Afghanistan,5510,Production,44,Barley,2020,2020,tonnes,127757.0,NaN,Official data,2,AFG,AFG,South Asia,Low income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14413,QCL,Crops and livestock products,181,Zimbabwe,5510,Production,692,Vanilla,2020,2020,tonnes,10.0,Im,FAO data based on imputation methodology,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
14414,QCL,Crops and livestock products,181,Zimbabwe,5510,Production,463,"Vegetables, fresh nes",2020,2020,tonnes,184570.0,Im,FAO data based on imputation methodology,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
14415,QCL,Crops and livestock products,181,Zimbabwe,5510,Production,420,"Vegetables, leguminous nes",2020,2020,tonnes,822.0,Im,FAO data based on imputation methodology,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
14416,QCL,Crops and livestock products,181,Zimbabwe,5510,Production,15,Wheat,2020,2020,tonnes,150000.0,*,Unofficial figure,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
14417,QCL,Crops and livestock products,181,Zimbabwe,5510,Production,987,"Wool, greasy",2020,2020,tonnes,2485.0,Im,FAO data based on imputation methodology,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income

In [228]:
Food_production['Region'].unique()

array(['South Asia', 'Europe & Central Asia',
       'Middle East & North Africa', 'Sub-Saharan Africa',
       'Latin America & Caribbean', 'East Asia & Pacific',
       'North America'], dtype=object)

In [575]:
Food_prod_Region=Food_production.groupby('Region')['Value'].sum().reset_index()
Food_prod_Region['Percentage']=round(Food_prod_Region['Value'] / 
                  Food_prod_Region['Value'].sum(),2)*100
Food_prod_Region

                       Region         Value  Percentage
0         East Asia & Pacific  4.486914e+09        35.0
1       Europe & Central Asia  1.862073e+09        14.0
2   Latin America & Caribbean  2.119212e+09        16.0
3  Middle East & North Africa  3.798951e+08         3.0
4               North America  1.128062e+09         9.0
5                  South Asia  2.006773e+09        16.0
6          Sub-Saharan Africa  9.416646e+08         7.0

In [576]:
Food_prod_Region.to_csv('../Data/Food/Tableau/Food_prod_Region.csv')

In [151]:
Hunger_index=pd.read_csv('../Data/Food/global-hunger-index-vs-gdp-per-capita.csv')
Hunger_2021=Hunger_index.loc[Hunger_index['Year']==2021]
Hunger_2021=Hunger_2021.loc[~((Hunger_2021['Code'].isna()) | (Hunger_2021['Code']=='OWID_WRL'))]
Hunger_2021=Hunger_2021.merge(Region[['Code','Region','Income group']],how='inner',left_on='Code',right_on='Code')
Hunger_2021

,Entity,Code,Year,Global Hunger Index (2021),411773-annotations,"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent,Region,Income group
0,Afghanistan,AFG,2021,28.3,NaN,NaN,39835428.0,NaN,South Asia,Low income
1,Albania,ALB,2021,6.2,NaN,NaN,2872934.0,NaN,Europe & Central Asia,Upper middle income
2,Algeria,DZA,2021,6.9,NaN,NaN,44616626.0,NaN,Middle East & North Africa,Lower middle income
3,American Samoa,ASM,2021,NaN,NaN,NaN,55103.0,NaN,East Asia & Pacific,Upper middle income
4,Andorra,AND,2021,NaN,NaN,NaN,77354.0,NaN,Europe & Central Asia,High income
...,...,...,...,...,...,...,...,...,...,...
211,Venezuela,VEN,2021,22.2,NaN,NaN,28704947.0,NaN,Latin America & Caribbean,NaN
212,Vietnam,VNM,2021,13.6,NaN,NaN,98168829.0,NaN,East Asia & Pacific,Lower middle income
213,Yemen,YEM,2021,45.1,NaN,NaN,30490639.0,NaN,Middle East & North Africa,Low income
214,Zambia,ZMB,2021,27.5,Value represents the mid-point of its group in...,NaN,18920657.0,NaN,Sub-Saharan Africa,Lower middle income
215,Zimbabwe,ZWE,2021,27.5,Value represents the mid-point of its group in...,NaN,15092171.0,NaN,Sub-Saharan Africa,Lower middle income

In [163]:
Hunger_2021['Global Hunger Index (2021)']=Hunger_2021['Global Hunger Index (2021)'].fillna(0)

In [226]:
Hunger_2021['Region'].unique()

array(['South Asia', 'Europe & Central Asia',
       'Middle East & North Africa', 'East Asia & Pacific',
       'Sub-Saharan Africa', 'Latin America & Caribbean', 'North America'],
      dtype=object)

In [227]:
Food_production.to_csv('../Data/Food/Tableau/Food_production.csv')
Hunger_2021.to_csv('../Data/Food/Tableau/Hunger_2021.csv')

In [171]:
Agri_employment=pd.read_excel('../Data/Food/Food  Waste Data Set - Copy.xlsx',sheet_name=4)
Agri_Expenditure=pd.read_excel('../Data/Food/Food  Waste Data Set - Copy.xlsx',sheet_name=5)

In [170]:
Agri_Expenditure.dtypes

Domain Code          object
Domain               object
Area Code (FAO)       int64
Area                 object
Element Code          int64
Element              object
Item Code             int64
Item                 object
Year Code             int64
Year                  int64
Unit                 object
Value               float64
Flag                 object
Flag Description     object
Note                 object
Country Code          int64
ISO3 Code            object
Code                 object
Region               object
Income group         object
dtype: object

In [172]:
Agri_Expenditure=Agri_Expenditure.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code (FAO)',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')
Agri_emplymnt=Agri_employment.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [173]:
Agri_emplymnt=Agri_emplymnt.loc[Agri_emplymnt['Indicator'].isin(['Employment in agriculture, forestry and fishing by age, total (15+)',
'Employment in agriculture, forestry and fishing by age, 15 to 24',
'Employment in agriculture, forestry and fishing by age, 25 to 54',
'Employment in agriculture, forestry and fishing by age, 55 to 64',
'Employment in agriculture, forestry and fishing by age, 65+',
'Mean weekly hours actually worked per employed person in agriculture, forestry and fishing',
'Mean weekly hours actually worked per employee in agriculture, forestry and fishing',
'Share of employment in agriculture, forestry and fishing in total employment',
'Share of females in total employment in agriculture, forestry and fishing',
'Share of employees in agriculture, forestry and fishing in total employees',
'Share of female employees in total employees in agriculture, forestry and fishing',
'Agriculture value added per worker (constant 2015 US$)'])]

In [174]:
Agri_emplymnt.to_csv('../Data/Food/Tableau/Agri_emplymnt.csv')
Agri_Expenditure.to_csv('../Data/Food/Tableau/Agri_Expenditure.csv')

In [178]:
undernourished=pd.read_csv('../Data/Food/FAOSTAT_undernourished.csv')

In [186]:
undernourished['Year'].unique()

array(['2000-2002', '2001-2003', '2002-2004', '2003-2005', '2004-2006',
       '2005-2007', '2006-2008', '2007-2009', '2008-2010', '2009-2011',
       '2010-2012', '2011-2013', '2012-2014', '2013-2015', '2014-2016',
       '2015-2017', '2016-2018', '2017-2019', '2018-2020'], dtype=object)

In [180]:
undernourished.loc[undernourished['Area Code'].astype(str).str.len() > 3]

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
3876,FS,Suite of Food Security Indicators,5000,World,6132,Value,210011,Number of people undernourished (million) (3-y...,20002002,2000-2002,millions,819.2,F,FAO estimate,NaN
3877,FS,Suite of Food Security Indicators,5000,World,6132,Value,210011,Number of people undernourished (million) (3-y...,20012003,2001-2003,millions,830.6,F,FAO estimate,NaN
3878,FS,Suite of Food Security Indicators,5000,World,6132,Value,210011,Number of people undernourished (million) (3-y...,20022004,2002-2004,millions,836.8,F,FAO estimate,NaN
3879,FS,Suite of Food Security Indicators,5000,World,6132,Value,210011,Number of people undernourished (million) (3-y...,20032005,2003-2005,millions,827.2,F,FAO estimate,NaN
3880,FS,Suite of Food Security Indicators,5000,World,6132,Value,210011,Number of people undernourished (million) (3-y...,20042006,2004-2006,millions,804,F,FAO estimate,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5670,FS,Suite of Food Security Indicators,9011,Upper-middle-income economies,6132,Value,210010,Number of people undernourished (million) (ann...,2016,2016,millions,91.7,F,FAO estimate,NaN
5671,FS,Suite of Food Security Indicators,9011,Upper-middle-income economies,6132,Value,210010,Number of people undernourished (million) (ann...,2017,2017,millions,90,F,FAO estimate,NaN
5672,FS,Suite of Food Security Indicators,9011,Upper-middle-income economies,6132,Value,210010,Number of people undernourished (million) (ann...,2018,2018,millions,91.1,F,FAO estimate,NaN
5673,FS,Suite of Food Security Indicators,9011,Upper-middle-income economies,6132,Value,210010,Number of people undernourished (million) (ann...,2019,2019,millions,95.1,F,FAO estimate,NaN
5674,FS,Suite of Food Security Indicators,9011,Upper-middle-income economies,6132,Value,210010,Number of people undernourished (million) (ann...,2020,2020,millions,113.2,F,FAO estimate,NaN

In [181]:
undernourished.drop(undernourished.index[3876:5675], inplace=True)

In [183]:
undernourished=undernourished.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [188]:
undernourished=undernourished.loc[undernourished['Year']=='2018-2020']

In [201]:
undernourished

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Country Code,ISO3 Code,Code,Region,Income group
18,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20182020,2018-2020,millions,9.7,F,FAO estimate,NaN,2,AFG,AFG,South Asia,Low income
37,FS,Suite of Food Security Indicators,3,Albania,6132,Value,210011,Number of people undernourished (million) (3-y...,20182020,2018-2020,millions,0.1,F,FAO estimate,NaN,3,ALB,ALB,Europe & Central Asia,Upper middle income
56,FS,Suite of Food Security Indicators,4,Algeria,6132,Value,210011,Number of people undernourished (million) (3-y...,20182020,2018-2020,millions,NaN,NR,Not reported,NaN,4,DZA,DZA,Middle East & North Africa,Lower middle income
75,FS,Suite of Food Security Indicators,5,American Samoa,6132,Value,210011,Number of people undernourished (million) (3-y...,20182020,2018-2020,millions,NaN,NV,Data not available,NaN,5,ASM,ASM,East Asia & Pacific,Upper middle income
94,FS,Suite of Food Security Indicators,6,Andorra,6132,Value,210011,Number of people undernourished (million) (3-y...,20182020,2018-2020,millions,NaN,NV,Data not available,NaN,6,AND,AND,Europe & Central Asia,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,FS,Suite of Food Security Indicators,236,Venezuela (Bolivarian Republic of),6132,Value,210011,Number of people undernourished (million) (3-y...,20182020,2018-2020,millions,7.8,F,FAO estimate,NaN,236,VEN,VEN,Latin America & Caribbean,NaN
3742,FS,Suite of Food Security Indicators,237,Viet Nam,6132,Value,210011,Number of people undernourished (million) (3-y...,20182020,2018-2020,millions,6.5,F,FAO estimate,NaN,237,VNM,VNM,East Asia & Pacific,Lower middle income
3761,FS,Suite of Food Security Indicators,249,Yemen,6132,Value,210011,Number of people undernourished (million) (3-y...,20182020,2018-2020,millions,13.2,F,FAO estimate,NaN,249,YEM,YEM,Middle East & North Africa,Low income
3780,FS,Suite of Food Security Indicators,251,Zambia,6132,Value,210011,Number of people undernourished (million) (3-y...,20182020,2018-2020,millions,NaN,NV,Data not available,NaN,251,ZMB,ZMB,Sub-Saharan Africa,Lower middle income
3799,FS,Suite of Food Security Indicators,181,Zimbabwe,6132,Value,210011,Number of people undernourished (million) (3-y...,20182020,2018-2020,millions,NaN,NV,Data not available,NaN,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income

In [189]:
undernourished.to_csv('../Data/Food/Tableau/undernourished.csv')

In [190]:
Food_shortage=pd.read_csv('../Data/Food/countries-requiring-external-assistance-for-food.csv',encoding="ISO-8859-1")
Food_shortage

,Date,ISO3,Country,Nature of Food Insecurity,Main Reasons
0,2009-04,AFG,Afghanistan,Widespread lack of access,"Conflict and insecurity, inadequate rainfall"
1,2009-04,BDI,Burundi,Severe localized food insecurity,"Civil strife, IDPs and returnees"
2,2009-04,BGD,Bangladesh,Severe localized food insecurity,Past floods and cyclone
3,2009-04,CAF,Central African Republic,Severe localized food insecurity,"Refugees, insecurity in parts"
4,2009-04,CIV,Côte d'Ivoire,Severe localized food insecurity,Conflict related damage
...,...,...,...,...,...
1901,2022-03,UGA,Uganda,Severe localized food insecurity,Weather extremes
1902,2022-03,VEN,Venezuela (Bolivarian Republic of),Widespread lack of access,Severe economic crisis
1903,2022-03,YEM,Yemen,Widespread lack of access,"Conflict, poverty, floods, high food and fuel ..."
1904,2022-03,ZMB,Zambia,Severe localized food insecurity,"Reduced incomes, localized shortfalls in cerea..."
1905,2022-03,ZWE,Zimbabwe,Widespread lack of access,"High food prices, economic downturn, adverse w..."

In [191]:
Food_shortage['Date'].unique()

array(['2009-04', '2009-07', '2009-11', '2010-02', '2010-05', '2010-09',
       '2010-12', '2011-03', '2011-06', '2011-10', '2011-12', '2012-03',
       '2012-06', '2012-10', '2012-12', '2013-03', '2013-07', '2013-10',
       '2013-12', '2014-03', '2014-07', '2014-10', '2014-12', '2015-03',
       '2015-07', '2015-10', '2015-12', '2016-03', '2016-06', '2016-09',
       '2016-12', '2017-03', '2017-06', '2017-09', '2017-12', '2018-03',
       '2018-06', '2018-09', '2018-12', '2019-03', '2019-07', '2019-09',
       '2019-12', '2020-03', '2020-07', '2020-09', '2020-12', '2021-03',
       '2021-07', '2021-09', '2021-12', '2022-03'], dtype=object)

In [192]:
Food_shortage.loc[Food_shortage['Date']=='2009-04']

,Date,ISO3,Country,Nature of Food Insecurity,Main Reasons
0,2009-04,AFG,Afghanistan,Widespread lack of access,"Conflict and insecurity, inadequate rainfall"
1,2009-04,BDI,Burundi,Severe localized food insecurity,"Civil strife, IDPs and returnees"
2,2009-04,BGD,Bangladesh,Severe localized food insecurity,Past floods and cyclone
3,2009-04,CAF,Central African Republic,Severe localized food insecurity,"Refugees, insecurity in parts"
4,2009-04,CIV,Côte d'Ivoire,Severe localized food insecurity,Conflict related damage
5,2009-04,COD,Democratic Republic of the Congo,Severe localized food insecurity,"Civil strife, returnees"
6,2009-04,COG,Congo,Severe localized food insecurity,IDPs
7,2009-04,ERI,Eritrea,Widespread lack of access,"IDPs, economic constraints"
8,2009-04,ETH,Ethiopia,Severe localized food insecurity,"Insecurity in parts, localized crop failure"
9,2009-04,GIN,Guinea,Severe localized food insecurity,"Refugees, conflict related damage"
10,2009-04,GNB,Guinea-Bissau,Severe localized food insecurity,Localized insecurity
11,2009-04,HND,Honduras,Severe localized food insecurity,Past floods
12,2009-04,HTI,Haiti,Severe localized food insecurity,Past floods and other hurricane damage
13,2009-04,IRN,Iran (Islamic Republic of),Severe localized food insecurity,Past drought
14,2009-04,IRQ,Iraq,Exceptional shortfall in aggregate food produc...,Conflict and insufficient rainfall
15,2009-04,KEN,Kenya,Exceptional shortfall in aggregate food produc...,"Lingering effects of civil strife, adverse wea..."
16,2009-04,LBR,Liberia,Widespread lack of access,"War related damage, pests"
17,2009-04,LKA,Sri Lanka,Severe localized food insecurity,"Conflict, IDPs"
18,2009-04,LSO,Lesotho,Exceptional shortfall in aggregate food produc...,"Low productivity, HIV/AIDS pandemic"
19,2009-04,MMR,Myanmar,Severe localized food insecurity,Past cyclone
20,2009-04,MRT,Mauritania,Widespread lack of access,Several years of drought
21,2009-04,NPL,Nepal,Severe localized food insecurity,Poor market access and drought in the west
22,2009-04,PRK,Democratic People's Republic of Korea,Widespread lack of access,Economic constraints
23,2009-04,SDN,Sudan,Severe localized food insecurity,"Civil strife (Darfur), Insecurity (Southern Su..."
24,2009-04,SLE,Sierra Leone,Widespread lack of access,War related damage
25,2009-04,SOM,Somalia,Exceptional shortfall in aggregate food produc...,"Conflict, economic crisis, adverse weather"
26,2009-04,SWZ,Eswatini,Exceptional shortfall in aggregate food produc...,"Low productivity, HIV/AIDS pandemic"
27,2009-04,TCD,Chad,Severe localized food insecurity,"Refugees, conflict"
28,2009-04,TLS,Timor-Leste,Severe localized food insecurity,IDPs
29,2009-04,UGA,Uganda,Severe localized food insecurity,"Localized crop failure, insecurity"
30,2009-04,ZWE,Zimbabwe,Exceptional shortfall in aggregate food produc...,Deepening economic crisis

In [193]:
Population=pd.read_excel('../Data/Food/Food  Waste Data Set - Copy.xlsx',sheet_name=3)

In [194]:
Population

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,37171.921,X,International reliable sources,NaN
1,OA,Annual population,2,Afghanistan,512,Total Population - Male,3010,Population - Est. & Proj.,2018,2018,1000 persons,19093.043,X,International reliable sources,NaN
2,OA,Annual population,2,Afghanistan,513,Total Population - Female,3010,Population - Est. & Proj.,2018,2018,1000 persons,18078.879,X,International reliable sources,NaN
3,OA,Annual population,2,Afghanistan,551,Rural population,3010,Population - Est. & Proj.,2018,2018,1000 persons,27099.874,X,International reliable sources,NaN
4,OA,Annual population,2,Afghanistan,561,Urban population,3010,Population - Est. & Proj.,2018,2018,1000 persons,9273.302,X,International reliable sources,"UNDESA, Population Division – World Urbanizati..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,OA,Annual population,181,Zimbabwe,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,14438.802,X,International reliable sources,NaN
1109,OA,Annual population,181,Zimbabwe,512,Total Population - Male,3010,Population - Est. & Proj.,2018,2018,1000 persons,6879.119,X,International reliable sources,NaN
1110,OA,Annual population,181,Zimbabwe,513,Total Population - Female,3010,Population - Est. & Proj.,2018,2018,1000 persons,7559.693,X,International reliable sources,NaN
1111,OA,Annual population,181,Zimbabwe,551,Rural population,3010,Population - Est. & Proj.,2018,2018,1000 persons,11465.748,X,International reliable sources,NaN
1112,OA,Annual population,181,Zimbabwe,561,Urban population,3010,Population - Est. & Proj.,2018,2018,1000 persons,5447.513,X,International reliable sources,"UNDESA, Population Division – World Urbanizati..."

In [196]:
Population=Population.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code (FAO)',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')
Population

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Country Code,ISO3 Code,Code,Region,Income group
0,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,37171.921,X,International reliable sources,NaN,2,AFG,AFG,South Asia,Low income
1,OA,Annual population,2,Afghanistan,512,Total Population - Male,3010,Population - Est. & Proj.,2018,2018,1000 persons,19093.043,X,International reliable sources,NaN,2,AFG,AFG,South Asia,Low income
2,OA,Annual population,2,Afghanistan,513,Total Population - Female,3010,Population - Est. & Proj.,2018,2018,1000 persons,18078.879,X,International reliable sources,NaN,2,AFG,AFG,South Asia,Low income
3,OA,Annual population,2,Afghanistan,551,Rural population,3010,Population - Est. & Proj.,2018,2018,1000 persons,27099.874,X,International reliable sources,NaN,2,AFG,AFG,South Asia,Low income
4,OA,Annual population,2,Afghanistan,561,Urban population,3010,Population - Est. & Proj.,2018,2018,1000 persons,9273.302,X,International reliable sources,"UNDESA, Population Division – World Urbanizati...",2,AFG,AFG,South Asia,Low income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1029,OA,Annual population,181,Zimbabwe,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,14438.802,X,International reliable sources,NaN,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
1030,OA,Annual population,181,Zimbabwe,512,Total Population - Male,3010,Population - Est. & Proj.,2018,2018,1000 persons,6879.119,X,International reliable sources,NaN,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
1031,OA,Annual population,181,Zimbabwe,513,Total Population - Female,3010,Population - Est. & Proj.,2018,2018,1000 persons,7559.693,X,International reliable sources,NaN,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
1032,OA,Annual population,181,Zimbabwe,551,Rural population,3010,Population - Est. & Proj.,2018,2018,1000 persons,11465.748,X,International reliable sources,NaN,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
1033,OA,Annual population,181,Zimbabwe,561,Urban population,3010,Population - Est. & Proj.,2018,2018,1000 persons,5447.513,X,International reliable sources,"UNDESA, Population Division – World Urbanizati...",181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income

In [199]:
Population=Population.loc[Population['Element']=='Total Population - Both sexes']

In [200]:
Population

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Country Code,ISO3 Code,Code,Region,Income group
0,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,37171.921,X,International reliable sources,NaN,2,AFG,AFG,South Asia,Low income
5,OA,Annual population,3,Albania,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,2882.740,X,International reliable sources,NaN,3,ALB,ALB,Europe & Central Asia,Upper middle income
10,OA,Annual population,4,Algeria,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,42228.408,X,International reliable sources,NaN,4,DZA,DZA,Middle East & North Africa,Lower middle income
15,OA,Annual population,5,American Samoa,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,55.465,X,International reliable sources,NaN,5,ASM,ASM,East Asia & Pacific,Upper middle income
18,OA,Annual population,6,Andorra,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,77.006,X,International reliable sources,NaN,6,AND,AND,Europe & Central Asia,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009,OA,Annual population,236,Venezuela (Bolivarian Republic of),511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,28887.118,X,International reliable sources,NaN,236,VEN,VEN,Latin America & Caribbean,NaN
1014,OA,Annual population,237,Viet Nam,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,95545.962,X,International reliable sources,NaN,237,VNM,VNM,East Asia & Pacific,Lower middle income
1019,OA,Annual population,249,Yemen,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,28498.683,X,International reliable sources,NaN,249,YEM,YEM,Middle East & North Africa,Low income
1024,OA,Annual population,251,Zambia,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,17351.708,X,International reliable sources,NaN,251,ZMB,ZMB,Sub-Saharan Africa,Lower middle income
1029,OA,Annual population,181,Zimbabwe,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,14438.802,X,International reliable sources,NaN,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income

In [289]:
undernourish_pop=undernourished.merge(Population[['Area Code (FAO)','Value','Unit']],how='inner',left_on='Country Code',right_on='Area Code (FAO)')

In [281]:
undernourish_pop.dtypes

Area Code        object
Area             object
Unit_x           object
Value_x         float64
Value_y          object
Unit_y           object
Region           object
Code             object
Income group     object
dtype: object

In [292]:
undernourish_pop.loc[undernourish_pop['Value_x']=='0.0']

Empty DataFrame
Columns: [Domain Code, Domain, Area Code, Area, Element Code, Element, Item Code, Item, Year Code, Year, Unit_x, Value_x, Flag, Flag Description, Note, Country Code, ISO3 Code, Code, Region, Income group, Area Code (FAO), Value_y, Unit_y]
Index: []

[0 rows x 23 columns]

In [301]:
undernourish_pop['Value_x'].value_counts()

0.09     18
0.3       7
0.2       6
0.1       5
0.5       4
0.4       4
1.3       3
1         3
1.4       3
2         3
0.6       2
9.2       2
5.3       2
2.2       2
3.8       2
4.4       2
2.9       2
0.7       2
1.5       2
1.7       2
0.9       2
1.2       1
7.8       1
11.7      1
3.2       1
6.5       1
9.5       1
29.4      1
4.1       1
5.7       1
27.9      1
2.8       1
10.1      1
14.5      1
1.9       1
9.7       1
13        1
14.7      1
4.6       1
17.6      1
208.6     1
1.8       1
18.2      1
5.4       1
36.2      1
10.9      1
0.8       1
5.1       1
2.3       1
15.9      1
5.5       1
13.2      1
Name: Value_x, dtype: int64

In [300]:
for index,rows in undernourish_pop.iterrows():
    if rows['Value_x']== '<0.1':
        undernourish_pop.loc[index,'Value_x']='0.09'

In [302]:

#undernourished_pop['Value_x'].unique()

undernourish_pop['Value_x']=undernourish_pop['Value_x'].astype(float)
undernourish_pop['Value_y']=undernourish_pop['Value_y'].astype(float)

In [303]:
undernourish_pop=undernourish_pop[['Area Code','Area','Unit_x','Value_x','Value_y','Unit_y','Region','Code','Income group']].fillna(0)

In [209]:
undernourished_pop

,Area Code,Area,Unit_x,Value_x,Value_y,Unit_y,Region,Income group
0,2,Afghanistan,millions,9.7,37171.921,1000 persons,South Asia,Low income
1,3,Albania,millions,0.1,2882.740,1000 persons,Europe & Central Asia,Upper middle income
2,4,Algeria,millions,0,42228.408,1000 persons,Middle East & North Africa,Lower middle income
3,5,American Samoa,millions,0,55.465,1000 persons,East Asia & Pacific,Upper middle income
4,6,Andorra,millions,0,77.006,1000 persons,Europe & Central Asia,High income
...,...,...,...,...,...,...,...,...
195,236,Venezuela (Bolivarian Republic of),millions,7.8,28887.118,1000 persons,Latin America & Caribbean,0
196,237,Viet Nam,millions,6.5,95545.962,1000 persons,East Asia & Pacific,Lower middle income
197,249,Yemen,millions,13.2,28498.683,1000 persons,Middle East & North Africa,Low income
198,251,Zambia,millions,0,17351.708,1000 persons,Sub-Saharan Africa,Lower middle income
199,181,Zimbabwe,millions,0,14438.802,1000 persons,Sub-Saharan Africa,Lower middle income

In [304]:
round(((undernourish_pop['Value_x']*1000000)/(undernourish_pop['Value_y']*1000))*100,2)

0      26.09
1       3.47
2       0.00
3       0.00
4       0.00
       ...
195    27.00
196     6.80
197    46.32
198     0.00
199     0.00
Length: 200, dtype: float64

In [305]:
undernourish_pop['Perc_undernourished']=round(((undernourish_pop['Value_x']*1000000)/(undernourish_pop['Value_y']*1000))*100,2)

In [306]:
undernourish_pop

,Area Code,Area,Unit_x,Value_x,Value_y,Unit_y,Region,Code,Income group,Perc_undernourished
0,2,Afghanistan,millions,9.7,37171.921,1000 persons,South Asia,AFG,Low income,26.09
1,3,Albania,millions,0.1,2882.740,1000 persons,Europe & Central Asia,ALB,Upper middle income,3.47
2,4,Algeria,millions,0.0,42228.408,1000 persons,Middle East & North Africa,DZA,Lower middle income,0.00
3,5,American Samoa,millions,0.0,55.465,1000 persons,East Asia & Pacific,ASM,Upper middle income,0.00
4,6,Andorra,millions,0.0,77.006,1000 persons,Europe & Central Asia,AND,High income,0.00
...,...,...,...,...,...,...,...,...,...,...
195,236,Venezuela (Bolivarian Republic of),millions,7.8,28887.118,1000 persons,Latin America & Caribbean,VEN,0,27.00
196,237,Viet Nam,millions,6.5,95545.962,1000 persons,East Asia & Pacific,VNM,Lower middle income,6.80
197,249,Yemen,millions,13.2,28498.683,1000 persons,Middle East & North Africa,YEM,Low income,46.32
198,251,Zambia,millions,0.0,17351.708,1000 persons,Sub-Saharan Africa,ZMB,Lower middle income,0.00
199,181,Zimbabwe,millions,0.0,14438.802,1000 persons,Sub-Saharan Africa,ZWE,Lower middle income,0.00

In [307]:
undernourish_pop.to_csv('../Data/Food/Tableau/undernourished.csv')

In [241]:
undernourish_pop.loc[undernourish_pop['Area']=='Zambia']

,Area Code,Area,Unit_x,Value_x,Value_y,Unit_y,Region,Code,Income group,Perc_undernourished
198,251,Zambia,millions,0.0,17351.708,1000 persons,Sub-Saharan Africa,ZMB,Lower middle income,0.0

In [244]:
undernourish_pop.loc[undernourish_pop['Perc_undernourished']==0.0]

,Area Code,Area,Unit_x,Value_x,Value_y,Unit_y,Region,Code,Income group,Perc_undernourished
2,4,Algeria,millions,0.0,42228.408,1000 persons,Middle East & North Africa,DZA,Lower middle income,0.0
3,5,American Samoa,millions,0.0,55.465,1000 persons,East Asia & Pacific,ASM,Upper middle income,0.0
4,6,Andorra,millions,0.0,77.006,1000 persons,Europe & Central Asia,AND,High income,0.0
6,8,Antigua and Barbuda,millions,0.0,96.286,1000 persons,Latin America & Caribbean,ATG,High income,0.0
9,10,Australia,millions,0.0,24898.152,1000 persons,East Asia & Pacific,AUS,High income,0.0
...,...,...,...,...,...,...,...,...,...,...
191,231,United States of America,millions,0.0,327096.265,1000 persons,North America,USA,High income,0.0
192,234,Uruguay,millions,0.0,3449.285,1000 persons,Latin America & Caribbean,URY,High income,0.0
193,235,Uzbekistan,millions,0.0,32476.244,1000 persons,Europe & Central Asia,UZB,Lower middle income,0.0
198,251,Zambia,millions,0.0,17351.708,1000 persons,Sub-Saharan Africa,ZMB,Lower middle income,0.0
199,181,Zimbabwe,millions,0.0,14438.802,1000 persons,Sub-Saharan Africa,ZWE,Lower middle income,0.0

In [246]:
undernourish_pop['Perc_undernourished'].unique()

array([26.09,  3.47,  0.  , 17.85,  3.83,  3.39,  9.85,  7.84, 13.21,
       31.05,  2.84, 14.68,  6.15,  5.55, 49.29, 32.95,  3.2 ,  3.37,
        8.86, 38.14,  4.  , 15.16, 42.66, 43.06, 20.86,  8.47, 12.88,
        5.49,  7.79,  8.8 , 16.66, 14.16, 13.16,  7.49,  6.05, 16.81,
       47.65, 13.56, 15.42,  6.58,  5.62, 38.25,  6.81, 10.03, 25.3 ,
        7.93,  5.66,  8.75, 23.72, 39.43, 44.55, 17.64,  3.17, 10.48,
        9.08,  7.29,  3.15,  4.16, 32.21,  7.63, 20.42,  4.98, 20.11,
       15.01,  8.28, 13.15,  7.18, 25.56, 10.06,  9.47, 35.77,  3.86,
        7.57,  3.41, 26.14,  3.67, 15.32, 61.3 ,  6.59, 12.68,  8.21,
       23.66, 21.55,  2.59,  3.42,  4.15, 25.75, 27.  ,  6.8 , 46.32])

In [245]:
Food_production.loc[Food_production['Code']=='DZA']

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Country Code,ISO3 Code,Code,Region,Income group
154,QCL,Crops and livestock products,4,Algeria,5510,Production,221,"Almonds, with shell",2020,2020,tonnes,60832.0,NaN,Official data,4,DZA,DZA,Middle East & North Africa,Lower middle income
155,QCL,Crops and livestock products,4,Algeria,5510,Production,515,Apples,2020,2020,tonnes,566824.0,NaN,Official data,4,DZA,DZA,Middle East & North Africa,Lower middle income
156,QCL,Crops and livestock products,4,Algeria,5510,Production,526,Apricots,2020,2020,tonnes,187273.0,NaN,Official data,4,DZA,DZA,Middle East & North Africa,Lower middle income
157,QCL,Crops and livestock products,4,Algeria,5510,Production,366,Artichokes,2020,2020,tonnes,126762.0,NaN,Official data,4,DZA,DZA,Middle East & North Africa,Lower middle income
158,QCL,Crops and livestock products,4,Algeria,5510,Production,486,Bananas,2020,2020,tonnes,235.0,Im,FAO data based on imputation methodology,4,DZA,DZA,Middle East & North Africa,Lower middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,QCL,Crops and livestock products,4,Algeria,5510,Production,420,"Vegetables, leguminous nes",2020,2020,tonnes,287235.0,NaN,Official data,4,DZA,DZA,Middle East & North Africa,Lower middle income
245,QCL,Crops and livestock products,4,Algeria,5510,Production,205,Vetches,2020,2020,tonnes,78.0,Im,FAO data based on imputation methodology,4,DZA,DZA,Middle East & North Africa,Lower middle income
246,QCL,Crops and livestock products,4,Algeria,5510,Production,567,Watermelons,2020,2020,tonnes,2286809.0,NaN,Official data,4,DZA,DZA,Middle East & North Africa,Lower middle income
247,QCL,Crops and livestock products,4,Algeria,5510,Production,15,Wheat,2020,2020,tonnes,3106754.0,NaN,Official data,4,DZA,DZA,Middle East & North Africa,Lower middle income
248,QCL,Crops and livestock products,4,Algeria,5510,Production,987,"Wool, greasy",2020,2020,tonnes,37890.0,NaN,Official data,4,DZA,DZA,Middle East & North Africa,Lower middle income

In [310]:
temp_change=pd.read_csv('../Data/Food/Environment_Temperature_change_E_All_Data_(Normalized).csv',encoding="ISO-8859-1")

In [311]:
temp_change

,Area Code,Area,Months Code,Months,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,7001,January,7271,Temperature change,1961,1961,°C,0.786,Fc
1,2,Afghanistan,7001,January,7271,Temperature change,1962,1962,°C,0.039,Fc
2,2,Afghanistan,7001,January,7271,Temperature change,1963,1963,°C,2.718,Fc
3,2,Afghanistan,7001,January,7271,Temperature change,1964,1964,°C,-5.226,Fc
4,2,Afghanistan,7001,January,7271,Temperature change,1965,1965,°C,1.889,Fc
...,...,...,...,...,...,...,...,...,...,...,...
544709,5873,OECD,7020,Meteorological year,6078,Standard Deviation,2017,2017,°C,0.260,Fc
544710,5873,OECD,7020,Meteorological year,6078,Standard Deviation,2018,2018,°C,0.260,Fc
544711,5873,OECD,7020,Meteorological year,6078,Standard Deviation,2019,2019,°C,0.260,Fc
544712,5873,OECD,7020,Meteorological year,6078,Standard Deviation,2020,2020,°C,0.260,Fc
544713,5873,OECD,7020,Meteorological year,6078,Standard Deviation,2021,2021,°C,0.260,Fc

In [312]:
temp_change.loc[temp_change['Area Code'].astype(str).str.len() > 3]

,Area Code,Area,Months Code,Months,Element Code,Element,Year Code,Year,Unit,Value,Flag
467976,5000,World,7001,January,7271,Temperature change,1961,1961,°C,0.396,Fc
467977,5000,World,7001,January,7271,Temperature change,1962,1962,°C,0.106,Fc
467978,5000,World,7001,January,7271,Temperature change,1963,1963,°C,-0.159,Fc
467979,5000,World,7001,January,7271,Temperature change,1964,1964,°C,-0.311,Fc
467980,5000,World,7001,January,7271,Temperature change,1965,1965,°C,0.203,Fc
...,...,...,...,...,...,...,...,...,...,...,...
544709,5873,OECD,7020,Meteorological year,6078,Standard Deviation,2017,2017,°C,0.260,Fc
544710,5873,OECD,7020,Meteorological year,6078,Standard Deviation,2018,2018,°C,0.260,Fc
544711,5873,OECD,7020,Meteorological year,6078,Standard Deviation,2019,2019,°C,0.260,Fc
544712,5873,OECD,7020,Meteorological year,6078,Standard Deviation,2020,2020,°C,0.260,Fc
544713,5873,OECD,7020,Meteorological year,6078,Standard Deviation,2021,2021,°C,0.260,Fc

In [313]:
temp_change.drop(temp_change.index[467976:544714], inplace=True)

In [314]:
temp_change=temp_change.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [315]:
temp_change.to_csv('../Data/Food/Tableau/temp_change.csv')

In [340]:

Prod_year=pd.read_csv('../Data/Food/Production_Crops_Livestock_E_All_Data_(Normalized).csv',encoding="ISO-8859-1")
Prod_year

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1975,1975,ha,0.0,F
1,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1976,1976,ha,5900.0,F
2,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1977,1977,ha,6000.0,F
3,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1978,1978,ha,6000.0,F
4,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1979,1979,ha,6000.0,F
...,...,...,...,...,...,...,...,...,...,...,...
3786047,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2016,2016,tonnes,82410550.0,A
3786048,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2017,2017,tonnes,82869948.0,A
3786049,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2018,2018,tonnes,84995942.0,A
3786050,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2019,2019,tonnes,87567535.0,A
3786051,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2020,2020,tonnes,90611349.0,A

In [341]:
Prod_year=Prod_year.loc[Prod_year['Element']=='Production']

In [342]:
Prod_year=Prod_year.reset_index(drop=True)

In [343]:
Prod_year

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,221,"Almonds, with shell",5510,Production,1975,1975,tonnes,0.0,F
1,2,Afghanistan,221,"Almonds, with shell",5510,Production,1976,1976,tonnes,9800.0,F
2,2,Afghanistan,221,"Almonds, with shell",5510,Production,1977,1977,tonnes,9000.0,F
3,2,Afghanistan,221,"Almonds, with shell",5510,Production,1978,1978,tonnes,12000.0,F
4,2,Afghanistan,221,"Almonds, with shell",5510,Production,1979,1979,tonnes,10500.0,F
...,...,...,...,...,...,...,...,...,...,...,...
1481932,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2016,2016,tonnes,82410550.0,A
1481933,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2017,2017,tonnes,82869948.0,A
1481934,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2018,2018,tonnes,84995942.0,A
1481935,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2019,2019,tonnes,87567535.0,A
1481936,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2020,2020,tonnes,90611349.0,A

In [346]:
Prod_year.loc[Prod_year['Area Code'].astype(str).str.len() > 3]

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
1098190,5000,World,800,Agave fibres nes,5510,Production,1961,1961,tonnes,34600.0,A
1098191,5000,World,800,Agave fibres nes,5510,Production,1962,1962,tonnes,32950.0,A
1098192,5000,World,800,Agave fibres nes,5510,Production,1963,1963,tonnes,35000.0,A
1098193,5000,World,800,Agave fibres nes,5510,Production,1964,1964,tonnes,35124.0,A
1098194,5000,World,800,Agave fibres nes,5510,Production,1965,1965,tonnes,35721.0,A
...,...,...,...,...,...,...,...,...,...,...,...
1481932,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2016,2016,tonnes,82410550.0,A
1481933,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2017,2017,tonnes,82869948.0,A
1481934,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2018,2018,tonnes,84995942.0,A
1481935,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2019,2019,tonnes,87567535.0,A
1481936,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2020,2020,tonnes,90611349.0,A

In [348]:
Prod_year.drop(Prod_year.index[1098190:1481937],inplace=True)

In [359]:
Prod_year=Prod_year.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [360]:
Prod_year.to_csv('../Data/Food/Tableau/Prod_year.csv')

In [350]:
Prod_year.loc[Prod_year['Area']=='Afghanistan']

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,221,"Almonds, with shell",5510,Production,1975,1975,tonnes,0.0,F
1,2,Afghanistan,221,"Almonds, with shell",5510,Production,1976,1976,tonnes,9800.0,F
2,2,Afghanistan,221,"Almonds, with shell",5510,Production,1977,1977,tonnes,9000.0,F
3,2,Afghanistan,221,"Almonds, with shell",5510,Production,1978,1978,tonnes,12000.0,F
4,2,Afghanistan,221,"Almonds, with shell",5510,Production,1979,1979,tonnes,10500.0,F
...,...,...,...,...,...,...,...,...,...,...,...
5366,2,Afghanistan,1735,Vegetables Primary,5510,Production,2016,2016,tonnes,1466532.0,A
5367,2,Afghanistan,1735,Vegetables Primary,5510,Production,2017,2017,tonnes,922563.0,A
5368,2,Afghanistan,1735,Vegetables Primary,5510,Production,2018,2018,tonnes,887174.0,A
5369,2,Afghanistan,1735,Vegetables Primary,5510,Production,2019,2019,tonnes,1400926.0,A
5370,2,Afghanistan,1735,Vegetables Primary,5510,Production,2020,2020,tonnes,1822632.0,A

In [356]:
Prod_year.groupby(['Area Code','Area','Element Code','Element','Year Code','Year','Unit']).sum('Value').reset_index()

,Area Code,Area,Element Code,Element,Year Code,Year,Unit,Item Code,Value
0,1,Armenia,5510,Production,1992,1992,tonnes,75885,3923135.0
1,1,Armenia,5510,Production,1993,1993,tonnes,75618,3715907.0
2,1,Armenia,5510,Production,1994,1994,tonnes,75823,3930104.0
3,1,Armenia,5510,Production,1995,1995,tonnes,75823,4003541.0
4,1,Armenia,5510,Production,1996,1996,tonnes,75880,4163709.0
...,...,...,...,...,...,...,...,...,...
17132,351,China,5513,Production,2016,2016,1000 No,2153,539189844.0
17133,351,China,5513,Production,2017,2017,1000 No,2153,606919963.0
17134,351,China,5513,Production,2018,2018,1000 No,2153,612991339.0
17135,351,China,5513,Production,2019,2019,1000 No,2153,648548721.0
17136,351,China,5513,Production,2020,2020,1000 No,2153,679819678.0

In [580]:
Emission_share=pd.read_csv('../Data/Food/Environment_Emissions_by_Sector_E_All_Data_(Normalized).csv',encoding="ISO-8859-1")

In [581]:
Emission_share['Item'].unique()

array(['Farm-gate emissions', 'Land Use change',
       'Pre- and post- production', 'Fertilizers Manufacturing',
       'IPCC Agriculture', 'LULUCF', 'On-farm electricity use',
       'LULUCF - food systems', 'Energy', 'Food Processing',
       'Energy - food systems', 'Food Transport', 'IPPU', 'Food Retail',
       'Food Waste Disposal', 'Waste', 'Waste - food systems',
       'Food Household Consumption', 'Food Packaging',
       'All sectors with LULUCF', 'All sectors without LULUCF', 'Other',
       'Food systems', 'AFOLU', 'Emissions on agricultural land',
       'IPPU - food systems', 'Food Transport - International Bunkers',
       'International bunkers', 'International bunkers - food systems'],
      dtype=object)

In [582]:
Emission_share=Emission_share.loc[Emission_share['Item'].isin(['Farm-gate emissions',
                                                               'Land Use change',
                                                               "Pre- and post- production",
                                                               'On-farm electricity use',
                                                              'Emissions on agricultural land',
                                                              "Energy-food systems"])]

In [583]:
Emission_share.loc[Emission_share['Area Code'].astype(str).str.len() > 3]

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
1402508,5000,World,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1990,1990,%,18.7638,A
1402509,5000,World,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1991,1991,%,18.4229,A
1402510,5000,World,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1992,1992,%,17.9811,A
1402511,5000,World,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1993,1993,%,17.7268,A
1402512,5000,World,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1994,1994,%,17.7261,A
...,...,...,...,...,...,...,...,...,...,...,...
1683943,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2015,2015,kilotonnes,0.0000,A
1683944,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2016,2016,kilotonnes,0.0000,A
1683945,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2017,2017,kilotonnes,0.0000,A
1683946,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2018,2018,kilotonnes,0.0000,A
1683947,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2019,2019,kilotonnes,0.0000,A

In [584]:
Emission_share=Emission_share.drop(Emission_share.loc[1402508:1683948].index,axis=0)

In [585]:
Emission_share

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1990,1990,%,80.2607,Fc
1,2,Afghanistan,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1991,1991,%,80.8281,Fc
2,2,Afghanistan,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1992,1992,%,86.8858,Fc
3,2,Afghanistan,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1993,1993,%,86.1400,Fc
4,2,Afghanistan,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1994,1994,%,85.3637,Fc
...,...,...,...,...,...,...,...,...,...,...,...
1402503,181,Zimbabwe,6995,Emissions on agricultural land,7274,Emissions (F-gases),2015,2015,kilotonnes,0.0000,Fc
1402504,181,Zimbabwe,6995,Emissions on agricultural land,7274,Emissions (F-gases),2016,2016,kilotonnes,0.0000,Fc
1402505,181,Zimbabwe,6995,Emissions on agricultural land,7274,Emissions (F-gases),2017,2017,kilotonnes,0.0000,Fc
1402506,181,Zimbabwe,6995,Emissions on agricultural land,7274,Emissions (F-gases),2018,2018,kilotonnes,0.0000,Fc
1402507,181,Zimbabwe,6995,Emissions on agricultural land,7274,Emissions (F-gases),2019,2019,kilotonnes,0.0000,Fc

In [586]:
Emission_share=Emission_share.loc[Emission_share['Unit']!='kilotonnes']

In [587]:
Emission_share

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1990,1990,%,80.2607,Fc
1,2,Afghanistan,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1991,1991,%,80.8281,Fc
2,2,Afghanistan,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1992,1992,%,86.8858,Fc
3,2,Afghanistan,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1993,1993,%,86.1400,Fc
4,2,Afghanistan,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),1994,1994,%,85.3637,Fc
...,...,...,...,...,...,...,...,...,...,...,...
1402353,181,Zimbabwe,6995,Emissions on agricultural land,7266,Emissions Share (N2O),2015,2015,%,81.4821,Fc
1402354,181,Zimbabwe,6995,Emissions on agricultural land,7266,Emissions Share (N2O),2016,2016,%,80.3287,Fc
1402355,181,Zimbabwe,6995,Emissions on agricultural land,7266,Emissions Share (N2O),2017,2017,%,81.5699,Fc
1402356,181,Zimbabwe,6995,Emissions on agricultural land,7266,Emissions Share (N2O),2018,2018,%,80.7952,Fc
1402357,181,Zimbabwe,6995,Emissions on agricultural land,7266,Emissions Share (N2O),2019,2019,%,80.3360,Fc

In [588]:
Emission_share=Emission_share.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

In [589]:
Emission_share[(Emission_share['Area']=='Zimbabwe') & (Emission_share['Year']==2019)]

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Country Code,ISO3 Code,Code,Region,Income group
131115,181,Zimbabwe,6996,Farm-gate emissions,726313,Emissions Share (CO2eq) (AR5),2019,2019,%,10.1543,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131145,181,Zimbabwe,6996,Farm-gate emissions,7264,Emissions Share (CO2),2019,2019,%,0.4041,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131175,181,Zimbabwe,6996,Farm-gate emissions,7265,Emissions Share (CH4),2019,2019,%,53.9502,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131205,181,Zimbabwe,6996,Farm-gate emissions,7266,Emissions Share (N2O),2019,2019,%,80.3360,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131235,181,Zimbabwe,6516,Land Use change,726313,Emissions Share (CO2eq) (AR5),2019,2019,%,9.0696,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131265,181,Zimbabwe,6516,Land Use change,7264,Emissions Share (CO2),2019,2019,%,10.7983,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131295,181,Zimbabwe,6516,Land Use change,7265,Emissions Share (CH4),2019,2019,%,0.0000,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131325,181,Zimbabwe,6516,Land Use change,7266,Emissions Share (N2O),2019,2019,%,0.0000,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131355,181,Zimbabwe,6517,Pre- and post- production,726313,Emissions Share (CO2eq) (AR5),2019,2019,%,2.2804,A,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131385,181,Zimbabwe,6517,Pre- and post- production,7264,Emissions Share (CO2),2019,2019,%,1.5145,A,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131415,181,Zimbabwe,6517,Pre- and post- production,7265,Emissions Share (CH4),2019,2019,%,8.1115,A,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131445,181,Zimbabwe,6517,Pre- and post- production,7266,Emissions Share (N2O),2019,2019,%,1.6118,A,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131475,181,Zimbabwe,6510,On-farm electricity use,726313,Emissions Share (CO2eq) (AR5),2019,2019,%,0.1857,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131505,181,Zimbabwe,6510,On-farm electricity use,7264,Emissions Share (CO2),2019,2019,%,0.2046,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131535,181,Zimbabwe,6510,On-farm electricity use,7265,Emissions Share (CH4),2019,2019,%,0.1145,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131565,181,Zimbabwe,6510,On-farm electricity use,7266,Emissions Share (N2O),2019,2019,%,0.0151,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131595,181,Zimbabwe,6995,Emissions on agricultural land,726313,Emissions Share (CO2eq) (AR5),2019,2019,%,19.2240,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131625,181,Zimbabwe,6995,Emissions on agricultural land,7264,Emissions Share (CO2),2019,2019,%,11.2025,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131655,181,Zimbabwe,6995,Emissions on agricultural land,7265,Emissions Share (CH4),2019,2019,%,53.9502,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
131685,181,Zimbabwe,6995,Emissions on agricultural land,7266,Emissions Share (N2O),2019,2019,%,80.3360,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income

In [590]:
Emission_share=Emission_share.groupby(['Area Code','Area','Item Code','Item','Year Code','Unit','Code','Region','Income group']).mean(['Value']).reset_index()

In [591]:
Emission_share

,Area Code,Area,Item Code,Item,Year Code,Unit,Code,Region,Income group,Element Code,Year,Value,Country Code
0,1,Armenia,6510,On-farm electricity use,1992,%,ARM,Europe & Central Asia,Upper middle income,151057.4,1992.0,3.91618,1.0
1,1,Armenia,6510,On-farm electricity use,1993,%,ARM,Europe & Central Asia,Upper middle income,151057.4,1993.0,0.12502,1.0
2,1,Armenia,6510,On-farm electricity use,1994,%,ARM,Europe & Central Asia,Upper middle income,151057.4,1994.0,0.14294,1.0
3,1,Armenia,6510,On-farm electricity use,1995,%,ARM,Europe & Central Asia,Upper middle income,151057.4,1995.0,0.13028,1.0
4,1,Armenia,6510,On-farm electricity use,1996,%,ARM,Europe & Central Asia,Upper middle income,151057.4,1996.0,0.92208,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28417,351,China,6996,Farm-gate emissions,2015,%,CHN,East Asia & Pacific,Upper middle income,151057.4,2015.0,21.29276,351.0
28418,351,China,6996,Farm-gate emissions,2016,%,CHN,East Asia & Pacific,Upper middle income,151057.4,2016.0,21.42874,351.0
28419,351,China,6996,Farm-gate emissions,2017,%,CHN,East Asia & Pacific,Upper middle income,151057.4,2017.0,21.11018,351.0
28420,351,China,6996,Farm-gate emissions,2018,%,CHN,East Asia & Pacific,Upper middle income,151057.4,2018.0,20.66722,351.0
28421,351,China,6996,Farm-gate emissions,2019,%,CHN,East Asia & Pacific,Upper middle income,151057.4,2019.0,20.04406,351.0

In [592]:
Agri_share=Emission_share.groupby(['Area Code','Area','Year Code','Unit','Code','Region','Income group']).mean(['Value']).reset_index()

In [593]:
Agri_share

,Area Code,Area,Year Code,Unit,Code,Region,Income group,Item Code,Element Code,Year,Value,Country Code
0,1,Armenia,1992,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1992.0,23.398024,1.0
1,1,Armenia,1993,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1993.0,21.689600,1.0
2,1,Armenia,1994,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1994.0,20.604056,1.0
3,1,Armenia,1995,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1995.0,18.915540,1.0
4,1,Armenia,1996,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1996.0,18.740876,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5695,351,China,2015,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2015.0,10.188268,351.0
5696,351,China,2016,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2016.0,10.274720,351.0
5697,351,China,2017,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2017.0,10.144816,351.0
5698,351,China,2018,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2018.0,9.951468,351.0
5699,351,China,2019,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2019.0,9.644020,351.0

In [594]:
Agri_share['Non-Food Emissions']=100-Agri_share['Value']

In [595]:
Agri_share=Agri_share.rename(columns={'Value':'Food_Emission'})

In [596]:
Agri_share

,Area Code,Area,Year Code,Unit,Code,Region,Income group,Item Code,Element Code,Year,Food_Emission,Country Code,Non-Food Emissions
0,1,Armenia,1992,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1992.0,23.398024,1.0,76.601976
1,1,Armenia,1993,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1993.0,21.689600,1.0,78.310400
2,1,Armenia,1994,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1994.0,20.604056,1.0,79.395944
3,1,Armenia,1995,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1995.0,18.915540,1.0,81.084460
4,1,Armenia,1996,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1996.0,18.740876,1.0,81.259124
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,351,China,2015,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2015.0,10.188268,351.0,89.811732
5696,351,China,2016,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2016.0,10.274720,351.0,89.725280
5697,351,China,2017,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2017.0,10.144816,351.0,89.855184
5698,351,China,2018,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2018.0,9.951468,351.0,90.048532
5699,351,China,2019,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2019.0,9.644020,351.0,90.355980

In [767]:
Emission_share.to_csv('../Data/Food/Tableau/Emission_share.csv')
Agri_share.to_csv('../Data/Food/Tableau/Agri_share.csv')

In [766]:
Agri_share

,Area Code,Area,Year Code,Unit,Code,Region,Income group,Item Code,Element Code,Year,Emission Category,Value
0,1,Armenia,1992,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1992.0,Food_Emission,23.398024
1,1,Armenia,1993,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1993.0,Food_Emission,21.689600
2,1,Armenia,1994,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1994.0,Food_Emission,20.604056
3,1,Armenia,1995,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1995.0,Food_Emission,18.915540
4,1,Armenia,1996,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1996.0,Food_Emission,18.740876
...,...,...,...,...,...,...,...,...,...,...,...,...
17095,351,China,2015,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2015.0,Non-Food Emissions,89.811732
17096,351,China,2016,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2016.0,Non-Food Emissions,89.725280
17097,351,China,2017,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2017.0,Non-Food Emissions,89.855184
17098,351,China,2018,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2018.0,Non-Food Emissions,90.048532
17099,351,China,2019,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2019.0,Non-Food Emissions,90.355980

In [597]:
Agri_share=Agri_share.melt(id_vars=["Area Code","Area","Year Code","Unit","Code","Region","Income group","Item Code","Element Code","Year"], 
        var_name="Emission Category", 
        value_name="Value")

In [598]:
Agri_share[(Agri_share['Area']=='Zimbabwe') & (Agri_share['Year']==2019)]

,Area Code,Area,Year Code,Unit,Code,Region,Income group,Item Code,Element Code,Year,Emission Category,Value
4103,181,Zimbabwe,2019,%,ZWE,Sub-Saharan Africa,Lower middle income,6706.8,187027.0,2019.0,Food_Emission,17.173165
9803,181,Zimbabwe,2019,%,ZWE,Sub-Saharan Africa,Lower middle income,6706.8,187027.0,2019.0,Country Code,181.000000
15503,181,Zimbabwe,2019,%,ZWE,Sub-Saharan Africa,Lower middle income,6706.8,187027.0,2019.0,Non-Food Emissions,82.826835

In [599]:
Agri_share=Agri_share.loc[Agri_share['Emission Category']!='Country Code']

In [600]:
Agri_share

,Area Code,Area,Year Code,Unit,Code,Region,Income group,Item Code,Element Code,Year,Emission Category,Value
0,1,Armenia,1992,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1992.0,Food_Emission,23.398024
1,1,Armenia,1993,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1993.0,Food_Emission,21.689600
2,1,Armenia,1994,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1994.0,Food_Emission,20.604056
3,1,Armenia,1995,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1995.0,Food_Emission,18.915540
4,1,Armenia,1996,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1996.0,Food_Emission,18.740876
...,...,...,...,...,...,...,...,...,...,...,...,...
17095,351,China,2015,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2015.0,Non-Food Emissions,89.811732
17096,351,China,2016,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2016.0,Non-Food Emissions,89.725280
17097,351,China,2017,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2017.0,Non-Food Emissions,89.855184
17098,351,China,2018,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2018.0,Non-Food Emissions,90.048532
17099,351,China,2019,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2019.0,Non-Food Emissions,90.355980


Agri_share['Value']=Agri_share['Value'].apply(lambda x: str(round(x,2)) + '%')

In [601]:
Agri_share

,Area Code,Area,Year Code,Unit,Code,Region,Income group,Item Code,Element Code,Year,Emission Category,Value
0,1,Armenia,1992,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1992.0,Food_Emission,23.398024
1,1,Armenia,1993,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1993.0,Food_Emission,21.689600
2,1,Armenia,1994,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1994.0,Food_Emission,20.604056
3,1,Armenia,1995,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1995.0,Food_Emission,18.915540
4,1,Armenia,1996,%,ARM,Europe & Central Asia,Upper middle income,6706.8,151057.4,1996.0,Food_Emission,18.740876
...,...,...,...,...,...,...,...,...,...,...,...,...
17095,351,China,2015,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2015.0,Non-Food Emissions,89.811732
17096,351,China,2016,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2016.0,Non-Food Emissions,89.725280
17097,351,China,2017,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2017.0,Non-Food Emissions,89.855184
17098,351,China,2018,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2018.0,Non-Food Emissions,90.048532
17099,351,China,2019,%,CHN,East Asia & Pacific,Upper middle income,6706.8,151057.4,2019.0,Non-Food Emissions,90.355980

In [602]:
Agri_share_region=Agri_share.groupby('Region')['Value'].sum().reset_index()
Agri_share_region['Percentage']=round(Agri_share_region['Value'] / 
                  Agri_share_region['Value'].sum(),2)*100
Agri_share_region

                       Region     Value  Percentage
0         East Asia & Pacific  101600.0        18.0
1       Europe & Central Asia  134400.0        24.0
2   Latin America & Caribbean  105000.0        18.0
3  Middle East & North Africa   60000.0        11.0
4               North America    6000.0         1.0
5                  South Asia   24000.0         4.0
6          Sub-Saharan Africa  139000.0        24.0

In [603]:
Agri_share_region.to_csv('../Data/Food/Tableau/Agri_share_region.csv')

In [431]:
Agri_share.dtypes

Area Code              int64
Area                  object
Year Code              int64
Unit                  object
Code                  object
Region                object
Income group          object
Item Code            float64
Element Code         float64
Year                 float64
Emission Category     object
Value                 object
dtype: object

In [28]:

Food_share=pd.read_csv('../Data/Food/Environment_Emissions_by_Sector_E_All_Data_(Normalized).csv',encoding="ISO-8859-1")
Food_share=Food_share.loc[Food_share['Unit']=='kilotonnes']

In [29]:
Food_share.loc[Food_share['Area Code'].astype(str).str.len() > 3]

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
1402658,5000,World,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1990,1990,kilotonnes,6.603666e+06,A
1402659,5000,World,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1991,1991,kilotonnes,6.582987e+06,A
1402660,5000,World,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1992,1992,kilotonnes,6.389594e+06,A
1402661,5000,World,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1993,1993,kilotonnes,6.338328e+06,A
1402662,5000,World,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1994,1994,kilotonnes,6.388304e+06,A
...,...,...,...,...,...,...,...,...,...,...,...
1683943,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2015,2015,kilotonnes,0.000000e+00,A
1683944,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2016,2016,kilotonnes,0.000000e+00,A
1683945,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2017,2017,kilotonnes,0.000000e+00,A
1683946,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2018,2018,kilotonnes,0.000000e+00,A
1683947,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2019,2019,kilotonnes,0.000000e+00,A

In [174]:
Food_share.loc[Food_share['Value'] < 0]

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Country Code,ISO3 Code,Code,Region,Income group
690,2,Afghanistan,1707,LULUCF,723113,Emissions (CO2eq) (AR5),1990,1990,kilotonnes,-2388.5135,A,2,AFG,AFG,South Asia,Low income
691,2,Afghanistan,1707,LULUCF,723113,Emissions (CO2eq) (AR5),1991,1991,kilotonnes,-2388.5135,A,2,AFG,AFG,South Asia,Low income
692,2,Afghanistan,1707,LULUCF,723113,Emissions (CO2eq) (AR5),1992,1992,kilotonnes,-2388.5135,A,2,AFG,AFG,South Asia,Low income
693,2,Afghanistan,1707,LULUCF,723113,Emissions (CO2eq) (AR5),1993,1993,kilotonnes,-2388.5135,A,2,AFG,AFG,South Asia,Low income
694,2,Afghanistan,1707,LULUCF,723113,Emissions (CO2eq) (AR5),1994,1994,kilotonnes,-2388.5135,A,2,AFG,AFG,South Asia,Low income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692092,237,Viet Nam,6824,AFOLU,7273,Emissions (CO2),2015,2015,kilotonnes,-22665.9432,Fc,237,VNM,VNM,East Asia & Pacific,Lower middle income
692093,237,Viet Nam,6824,AFOLU,7273,Emissions (CO2),2016,2016,kilotonnes,-12169.9959,Fc,237,VNM,VNM,East Asia & Pacific,Lower middle income
692094,237,Viet Nam,6824,AFOLU,7273,Emissions (CO2),2017,2017,kilotonnes,-12475.0367,Fc,237,VNM,VNM,East Asia & Pacific,Lower middle income
692095,237,Viet Nam,6824,AFOLU,7273,Emissions (CO2),2018,2018,kilotonnes,-12500.4308,Fc,237,VNM,VNM,East Asia & Pacific,Lower middle income
692096,237,Viet Nam,6824,AFOLU,7273,Emissions (CO2),2019,2019,kilotonnes,-12490.1616,Fc,237,VNM,VNM,East Asia & Pacific,Lower middle income

In [30]:
Food_share=Food_share.drop(Food_share.loc[1402508:1683798].index,axis=0)

In [31]:
Food_share.index

Int64Index([    120,     121,     122,     123,     124,     125,     126,
                127,     128,     129,
            ...
            1683938, 1683939, 1683940, 1683941, 1683942, 1683943, 1683944,
            1683945, 1683946, 1683947],
           dtype='int64', length=757673)

In [32]:
Food_share

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
120,2,Afghanistan,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1990,1990,kilotonnes,8717.1955,Fc
121,2,Afghanistan,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1991,1991,kilotonnes,9005.2262,Fc
122,2,Afghanistan,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1992,1992,kilotonnes,8857.3739,Fc
123,2,Afghanistan,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1993,1993,kilotonnes,8922.8730,Fc
124,2,Afghanistan,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1994,1994,kilotonnes,8995.5635,Fc
...,...,...,...,...,...,...,...,...,...,...,...
1683943,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2015,2015,kilotonnes,0.0000,A
1683944,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2016,2016,kilotonnes,0.0000,A
1683945,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2017,2017,kilotonnes,0.0000,A
1683946,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2018,2018,kilotonnes,0.0000,A
1683947,5873,OECD,6995,Emissions on agricultural land,7274,Emissions (F-gases),2019,2019,kilotonnes,0.0000,A

In [33]:
Food_share=Food_share.merge(FAO_Codes[['Country Code','ISO3 Code']],how='inner',left_on='Area Code',right_on='Country Code').merge(Region[['Code','Region','Income group']],how='inner',left_on='ISO3 Code',right_on='Code')

afghan=Food_share.loc[(Food_share['Year']==2019)&(Food_share['Area']=='Afghanistan')]

afghan.to_csv('../Data/Food/afghan.csv')

In [34]:
Food_share['Item'].unique()

array(['Farm-gate emissions', 'Land Use change',
       'Pre- and post- production', 'Fertilizers Manufacturing',
       'IPCC Agriculture', 'LULUCF', 'On-farm electricity use',
       'LULUCF - food systems', 'Energy', 'Food Processing',
       'Energy - food systems', 'Food Transport', 'IPPU', 'Food Retail',
       'Food Waste Disposal', 'Waste', 'Waste - food systems',
       'Food Household Consumption', 'Food Packaging',
       'All sectors with LULUCF', 'All sectors without LULUCF', 'Other',
       'Food systems', 'AFOLU', 'Emissions on agricultural land',
       'IPPU - food systems'], dtype=object)

In [138]:
Land_Use_Share=Food_share.loc[Food_share['Item']=='Land Use change']

In [139]:
Land_Use_Share

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Country Code,ISO3 Code,Code,Region,Income group
150,2,Afghanistan,6516,Land Use change,723113,Emissions (CO2eq) (AR5),1990,1990,kilotonnes,0.0,Fc,2,AFG,AFG,South Asia,Low income
151,2,Afghanistan,6516,Land Use change,723113,Emissions (CO2eq) (AR5),1991,1991,kilotonnes,0.0,Fc,2,AFG,AFG,South Asia,Low income
152,2,Afghanistan,6516,Land Use change,723113,Emissions (CO2eq) (AR5),1992,1992,kilotonnes,0.0,Fc,2,AFG,AFG,South Asia,Low income
153,2,Afghanistan,6516,Land Use change,723113,Emissions (CO2eq) (AR5),1993,1993,kilotonnes,0.0,Fc,2,AFG,AFG,South Asia,Low income
154,2,Afghanistan,6516,Land Use change,723113,Emissions (CO2eq) (AR5),1994,1994,kilotonnes,0.0,Fc,2,AFG,AFG,South Asia,Low income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699494,181,Zimbabwe,6516,Land Use change,7274,Emissions (F-gases),2015,2015,kilotonnes,0.0,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
699495,181,Zimbabwe,6516,Land Use change,7274,Emissions (F-gases),2016,2016,kilotonnes,0.0,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
699496,181,Zimbabwe,6516,Land Use change,7274,Emissions (F-gases),2017,2017,kilotonnes,0.0,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
699497,181,Zimbabwe,6516,Land Use change,7274,Emissions (F-gases),2018,2018,kilotonnes,0.0,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
699498,181,Zimbabwe,6516,Land Use change,7274,Emissions (F-gases),2019,2019,kilotonnes,0.0,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income

In [140]:
Land_Use_Share.loc[(Land_Use_Share['Year']==2019)&(Land_Use_Share['Area']=='Zimbabwe')]

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Country Code,ISO3 Code,Code,Region,Income group
699378,181,Zimbabwe,6516,Land Use change,723113,Emissions (CO2eq) (AR5),2019,2019,kilotonnes,10662.4408,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
699408,181,Zimbabwe,6516,Land Use change,7273,Emissions (CO2),2019,2019,kilotonnes,10662.4408,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
699438,181,Zimbabwe,6516,Land Use change,7225,Emissions (CH4),2019,2019,kilotonnes,0.0000,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
699468,181,Zimbabwe,6516,Land Use change,7230,Emissions (N2O),2019,2019,kilotonnes,0.0000,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
699498,181,Zimbabwe,6516,Land Use change,7274,Emissions (F-gases),2019,2019,kilotonnes,0.0000,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income

In [141]:
Land_Use_Share=Land_Use_Share.groupby(['Area Code','Area','Item Code','Item','Year','Code','Unit','Region','Income group'])['Value'].sum('Value').reset_index()

In [142]:
Land_Use_Share=Land_Use_Share.rename(columns={'Value':'Land_use_share'})

In [143]:
Land_Use_Share

,Area Code,Area,Item Code,Item,Year,Code,Unit,Region,Income group,Land_use_share
0,1,Armenia,6516,Land Use change,1992,ARM,kilotonnes,Europe & Central Asia,Upper middle income,108.4508
1,1,Armenia,6516,Land Use change,1993,ARM,kilotonnes,Europe & Central Asia,Upper middle income,108.4508
2,1,Armenia,6516,Land Use change,1994,ARM,kilotonnes,Europe & Central Asia,Upper middle income,108.4508
3,1,Armenia,6516,Land Use change,1995,ARM,kilotonnes,Europe & Central Asia,Upper middle income,108.4508
4,1,Armenia,6516,Land Use change,1996,ARM,kilotonnes,Europe & Central Asia,Upper middle income,108.4508
...,...,...,...,...,...,...,...,...,...,...
6085,351,China,6516,Land Use change,2015,CHN,kilotonnes,East Asia & Pacific,Upper middle income,1.8819
6086,351,China,6516,Land Use change,2016,CHN,kilotonnes,East Asia & Pacific,Upper middle income,1.4390
6087,351,China,6516,Land Use change,2017,CHN,kilotonnes,East Asia & Pacific,Upper middle income,0.3321
6088,351,China,6516,Land Use change,2018,CHN,kilotonnes,East Asia & Pacific,Upper middle income,0.1108
6089,351,China,6516,Land Use change,2019,CHN,kilotonnes,East Asia & Pacific,Upper middle income,0.0000

In [144]:
Land_Use_Share.groupby('Region')['Land_use_share'].mean('Land_use_share')

Region
East Asia & Pacific           47821.550904
Europe & Central Asia          3101.792145
Latin America & Caribbean     92941.186722
Middle East & North Africa       85.258035
North America                 91459.320948
South Asia                     4530.208882
Sub-Saharan Africa            43978.875425
Name: Land_use_share, dtype: float64

In [157]:
Agri_Prod_share=Food_share.loc[Food_share['Item'].isin(['Farm-gate emissions','Fertilizers Manufacturing','Emissions on agricultural land'])]

In [158]:
Agri_Prod_share

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Country Code,ISO3 Code,Code,Region,Income group
0,2,Afghanistan,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1990,1990,kilotonnes,8717.1955,Fc,2,AFG,AFG,South Asia,Low income
1,2,Afghanistan,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1991,1991,kilotonnes,9005.2262,Fc,2,AFG,AFG,South Asia,Low income
2,2,Afghanistan,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1992,1992,kilotonnes,8857.3739,Fc,2,AFG,AFG,South Asia,Low income
3,2,Afghanistan,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1993,1993,kilotonnes,8922.8730,Fc,2,AFG,AFG,South Asia,Low income
4,2,Afghanistan,6996,Farm-gate emissions,723113,Emissions (CO2eq) (AR5),1994,1994,kilotonnes,8995.5635,Fc,2,AFG,AFG,South Asia,Low income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702612,181,Zimbabwe,6995,Emissions on agricultural land,7274,Emissions (F-gases),2015,2015,kilotonnes,0.0000,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
702613,181,Zimbabwe,6995,Emissions on agricultural land,7274,Emissions (F-gases),2016,2016,kilotonnes,0.0000,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
702614,181,Zimbabwe,6995,Emissions on agricultural land,7274,Emissions (F-gases),2017,2017,kilotonnes,0.0000,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
702615,181,Zimbabwe,6995,Emissions on agricultural land,7274,Emissions (F-gases),2018,2018,kilotonnes,0.0000,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income
702616,181,Zimbabwe,6995,Emissions on agricultural land,7274,Emissions (F-gases),2019,2019,kilotonnes,0.0000,Fc,181,ZWE,ZWE,Sub-Saharan Africa,Lower middle income

In [159]:
Agri_Prod_share=Agri_Prod_share.groupby(['Area Code','Area','Item Code','Item','Year','Unit','Code','Region','Income group'])['Value'].sum('Value').reset_index()

In [160]:
Agri_Prod_share

,Area Code,Area,Item Code,Item,Year,Unit,Code,Region,Income group,Value
0,1,Armenia,6504,Fertilizers Manufacturing,2002,kilotonnes,ARM,Europe & Central Asia,Upper middle income,0.0000
1,1,Armenia,6995,Emissions on agricultural land,1992,kilotonnes,ARM,Europe & Central Asia,Upper middle income,1847.9450
2,1,Armenia,6995,Emissions on agricultural land,1993,kilotonnes,ARM,Europe & Central Asia,Upper middle income,1487.5639
3,1,Armenia,6995,Emissions on agricultural land,1994,kilotonnes,ARM,Europe & Central Asia,Upper middle income,1428.7796
4,1,Armenia,6995,Emissions on agricultural land,1995,kilotonnes,ARM,Europe & Central Asia,Upper middle income,1457.3282
...,...,...,...,...,...,...,...,...,...,...
13981,351,China,6996,Farm-gate emissions,2015,kilotonnes,CHN,East Asia & Pacific,Upper middle income,974329.8159
13982,351,China,6996,Farm-gate emissions,2016,kilotonnes,CHN,East Asia & Pacific,Upper middle income,982657.2636
13983,351,China,6996,Farm-gate emissions,2017,kilotonnes,CHN,East Asia & Pacific,Upper middle income,974431.7433
13984,351,China,6996,Farm-gate emissions,2018,kilotonnes,CHN,East Asia & Pacific,Upper middle income,931107.6455
13985,351,China,6996,Farm-gate emissions,2019,kilotonnes,CHN,East Asia & Pacific,Upper middle income,919919.5111

In [161]:
Agri_Prod_share.loc[(Agri_Prod_share['Year']==2019)&(Agri_Prod_share['Area']=='Zimbabwe')]

,Area Code,Area,Item Code,Item,Year,Unit,Code,Region,Income group,Value
10120,181,Zimbabwe,6995,Emissions on agricultural land,2019,kilotonnes,ZWE,Sub-Saharan Africa,Lower middle income,33938.9555
10150,181,Zimbabwe,6996,Farm-gate emissions,2019,kilotonnes,ZWE,Sub-Saharan Africa,Lower middle income,12614.0739

In [162]:
Agri_total=Agri_Prod_share.groupby(['Area Code','Area','Year','Unit','Code','Region','Income group'])['Value'].mean('Value').reset_index()

In [163]:
Agri_total

,Area Code,Area,Year,Unit,Code,Region,Income group,Value
0,1,Armenia,1992,kilotonnes,ARM,Europe & Central Asia,Upper middle income,1793.719700
1,1,Armenia,1993,kilotonnes,ARM,Europe & Central Asia,Upper middle income,1433.338600
2,1,Armenia,1994,kilotonnes,ARM,Europe & Central Asia,Upper middle income,1374.554300
3,1,Armenia,1995,kilotonnes,ARM,Europe & Central Asia,Upper middle income,1403.102800
4,1,Armenia,1996,kilotonnes,ARM,Europe & Central Asia,Upper middle income,1320.333600
...,...,...,...,...,...,...,...,...
6085,351,China,2015,kilotonnes,CHN,East Asia & Pacific,Upper middle income,750653.322100
6086,351,China,2016,kilotonnes,CHN,East Asia & Pacific,Upper middle income,752165.502033
6087,351,China,2017,kilotonnes,CHN,East Asia & Pacific,Upper middle income,739330.166133
6088,351,China,2018,kilotonnes,CHN,East Asia & Pacific,Upper middle income,702711.404333
6089,351,China,2019,kilotonnes,CHN,East Asia & Pacific,Upper middle income,692859.912333

In [164]:
Agri_total.groupby('Region')['Agri_share'].mean()

KeyError: 'Column not found: Agri_share'

In [165]:
Agri_total=Agri_total.rename(columns={'Value':'Agri_share'})

In [96]:
Food_Supply=Food_share.loc[Food_share['Item'].isin(['Food Processing','Food Transport','Food Retail','Food Packaging'])]

In [97]:
Food_Supply=Food_Supply.groupby(['Area Code','Area','Item Code','Item','Year','Unit','Code','Region','Income group'])['Value'].sum('Value').reset_index()

In [98]:
Supply_share=Food_Supply.groupby(['Area Code','Area','Year','Unit','Code','Region','Income group'])['Value'].mean('Value').reset_index()

In [99]:
Supply_share

,Area Code,Area,Year,Unit,Code,Region,Income group,Value
0,1,Armenia,1992,kilotonnes,ARM,Europe & Central Asia,Upper middle income,118.275050
1,1,Armenia,1993,kilotonnes,ARM,Europe & Central Asia,Upper middle income,71.635500
2,1,Armenia,1994,kilotonnes,ARM,Europe & Central Asia,Upper middle income,21.635575
3,1,Armenia,1995,kilotonnes,ARM,Europe & Central Asia,Upper middle income,23.750750
4,1,Armenia,1996,kilotonnes,ARM,Europe & Central Asia,Upper middle income,24.217900
...,...,...,...,...,...,...,...,...
6017,351,China,2015,kilotonnes,CHN,East Asia & Pacific,Upper middle income,86305.265625
6018,351,China,2016,kilotonnes,CHN,East Asia & Pacific,Upper middle income,84908.277675
6019,351,China,2017,kilotonnes,CHN,East Asia & Pacific,Upper middle income,86163.038750
6020,351,China,2018,kilotonnes,CHN,East Asia & Pacific,Upper middle income,86631.929550
6021,351,China,2019,kilotonnes,CHN,East Asia & Pacific,Upper middle income,89630.070550

In [100]:
Supply_share=Supply_share.rename(columns={'Value':'Supply_share'})

In [101]:
Post_retail=Food_share.loc[Food_share['Item'].isin(['Food Waste Disposal','Food Household Consumption'])]

In [102]:
Post_Retail=Post_retail.groupby(['Area Code','Area','Item Code','Item','Year','Unit','Code','Region','Income group'])['Value'].sum('Value').reset_index()

In [103]:
Post_prod=Post_Retail.groupby(['Area Code','Area','Year','Unit','Code','Region','Income group'])['Value'].mean('Value').reset_index()

In [104]:
Post_prod

,Area Code,Area,Year,Unit,Code,Region,Income group,Value
0,1,Armenia,1992,kilotonnes,ARM,Europe & Central Asia,Upper middle income,368.82315
1,1,Armenia,1993,kilotonnes,ARM,Europe & Central Asia,Upper middle income,243.06605
2,1,Armenia,1994,kilotonnes,ARM,Europe & Central Asia,Upper middle income,261.12365
3,1,Armenia,1995,kilotonnes,ARM,Europe & Central Asia,Upper middle income,320.32395
4,1,Armenia,1996,kilotonnes,ARM,Europe & Central Asia,Upper middle income,219.66430
...,...,...,...,...,...,...,...,...
6085,351,China,2015,kilotonnes,CHN,East Asia & Pacific,Upper middle income,502268.33735
6086,351,China,2016,kilotonnes,CHN,East Asia & Pacific,Upper middle income,533215.09355
6087,351,China,2017,kilotonnes,CHN,East Asia & Pacific,Upper middle income,556205.59155
6088,351,China,2018,kilotonnes,CHN,East Asia & Pacific,Upper middle income,574414.63925
6089,351,China,2019,kilotonnes,CHN,East Asia & Pacific,Upper middle income,573541.81010

In [105]:
Post_prod=Post_prod.rename(columns={'Value':'Post_prod'})

In [106]:
Post_prod

,Area Code,Area,Year,Unit,Code,Region,Income group,Post_prod
0,1,Armenia,1992,kilotonnes,ARM,Europe & Central Asia,Upper middle income,368.82315
1,1,Armenia,1993,kilotonnes,ARM,Europe & Central Asia,Upper middle income,243.06605
2,1,Armenia,1994,kilotonnes,ARM,Europe & Central Asia,Upper middle income,261.12365
3,1,Armenia,1995,kilotonnes,ARM,Europe & Central Asia,Upper middle income,320.32395
4,1,Armenia,1996,kilotonnes,ARM,Europe & Central Asia,Upper middle income,219.66430
...,...,...,...,...,...,...,...,...
6085,351,China,2015,kilotonnes,CHN,East Asia & Pacific,Upper middle income,502268.33735
6086,351,China,2016,kilotonnes,CHN,East Asia & Pacific,Upper middle income,533215.09355
6087,351,China,2017,kilotonnes,CHN,East Asia & Pacific,Upper middle income,556205.59155
6088,351,China,2018,kilotonnes,CHN,East Asia & Pacific,Upper middle income,574414.63925
6089,351,China,2019,kilotonnes,CHN,East Asia & Pacific,Upper middle income,573541.81010

In [107]:
Land_Use_Share[['Area Code','Land_use_share']]
Agri_total[['Area Code','Agri_share']]
Supply_share[['Area Code','Supply_share']]
Post_prod[['Area Code','Post_prod']]

      Area Code     Post_prod
0             1     368.82315
1             1     243.06605
2             1     261.12365
3             1     320.32395
4             1     219.66430
...         ...           ...
6085        351  502268.33735
6086        351  533215.09355
6087        351  556205.59155
6088        351  574414.63925
6089        351  573541.81010

[6090 rows x 2 columns]

In [166]:
Land_Use_Share.to_csv('../Data/Food/Tableau/Land_Use_Share.csv')
Agri_total.to_csv('../Data/Food/Tableau/Agri_total.csv')
Supply_share.to_csv('../Data/Food/Tableau/Supply_share.csv')
Post_prod.to_csv('../Data/Food/Tableau/Post_prod.csv')

In [108]:
Land_2019=Land_Use_Share.loc[Land_Use_Share['Year']==2019]

In [150]:
Land_2019.groupby('Region').sum()

                            Area Code  Item Code    Year  Land_use_share
Region
East Asia & Pacific              5226     247608   76722    1.619396e+06
Europe & Central Asia            7143     338832  104988    1.667852e+05
Latin America & Caribbean        4046     247608   76722    2.220982e+06
Middle East & North Africa       3011     136836   42399    3.459209e+03
North America                     281      19548    6057    3.116895e+05
South Asia                        620      52128   16152    1.677861e+04
Sub-Saharan Africa               6757     312768   96912    2.360070e+06

In [122]:

Agri_2019=Agri_total.loc[Agri_total['Year']==2019]
Supply_2019=Supply_share.loc[Supply_share['Year']==2019]
Post_2019=Post_prod.loc[Post_prod['Year']==2019]

In [123]:
Supply_2019.loc[Supply_2019['Code']=='CHN']

,Area Code,Area,Year,Unit,Code,Region,Income group,Supply_share
6021,351,China,2019,kilotonnes,CHN,East Asia & Pacific,Upper middle income,89630.07055

In [124]:
Food_System_Emission=Land_2019.merge(Agri_2019[['Area Code','Agri_share']],how='inner',on='Area Code').merge(Supply_2019[['Area Code','Supply_share']],how='inner',on='Area Code').merge(Post_2019[['Area Code','Post_prod']],how='inner',on='Area Code')

In [125]:
Food_System_Emission

,Area Code,Area,Item Code,Item,Year,Code,Unit,Region,Income group,Land_use_share,Agri_share,Supply_share,Post_prod
0,1,Armenia,6516,Land Use change,2019,ARM,kilotonnes,Europe & Central Asia,Upper middle income,72.1336,2.474343e+03,354.987425,430.59500
1,2,Afghanistan,6516,Land Use change,2019,AFG,kilotonnes,South Asia,Low income,0.0000,9.044639e+03,186.339675,2293.58350
2,3,Albania,6516,Land Use change,2019,ALB,kilotonnes,Europe & Central Asia,Upper middle income,0.0000,3.233539e+03,238.901625,531.12460
3,4,Algeria,6516,Land Use change,2019,DZA,kilotonnes,Middle East & North Africa,Lower middle income,1275.7946,2.350021e+04,4237.979750,21324.00490
4,5,American Samoa,6516,Land Use change,2019,ASM,kilotonnes,East Asia & Pacific,Upper middle income,18.4514,1.021130e+01,5.750700,4.23830
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,273,Montenegro,6516,Land Use change,2019,MNE,kilotonnes,Europe & Central Asia,Upper middle income,0.0000,5.185644e+02,94.016333,200.37955
203,276,Sudan,6516,Land Use change,2019,SDN,kilotonnes,Sub-Saharan Africa,Low income,42006.5044,7.178158e+04,1088.216050,4075.30580
204,277,South Sudan,6516,Land Use change,2019,SSD,kilotonnes,Sub-Saharan Africa,Low income,494.5768,3.892016e+04,58.387733,248.56605
205,299,Palestine,6516,Land Use change,2019,PSE,kilotonnes,Middle East & North Africa,Lower middle income,0.0000,5.738333e+02,111.665700,851.12340
206,351,China,6516,Land Use change,2019,CHN,kilotonnes,East Asia & Pacific,Upper middle income,0.0000,1.011209e+06,89630.070550,573541.81010

In [127]:
Food_System_Emission=Food_System_Emission.melt(id_vars=["Area Code","Area","Year","Unit","Code","Item Code","Item","Region","Income group"], 
        var_name="Emission Category", 
        value_name="Value")

In [129]:
Food_System_Emission.to_csv('../Data/Food/Tableau/Food_System_Emission.csv')

In [249]:
import requests
import json

In [242]:
endpoint='https://api.data.apps.fao.org/api/v2/bigquery?sql_url=https://data.apps.fao.org/catalog/dataset/86b7daf0-4fae-450b-b88f-76690e2fdc17/resource/0026de2e-c12c-457c-b4f5-8c4cd2ef7960/download/crop-calendar-parameterized-query.sql'

In [258]:
response=requests.get(endpoint)

'Query SELECT \n       CASE WHEN allYear = \'yes\' then \'All Year\' \n            ELSE CONCAT(FORMAT_DATE(\'%b %d\', start_date), \' to \' ,FORMAT_DATE(\'%b %d\', end_date)) \n       END AS period,\n       *\nFROM `fao-maps-review.fao_crop_calendar.vw_crop_calendar_by_dates`\nWhere cropProcess = @crop_process\n      AND cropId = @crop\n LIMIT 50000 is not acceptable due to error: Traceback (most recent call last):\n  File "/app/app.py", line 212, in bigquery\n    results = query_job.result()\n  File "/usr/local/lib/python3.9/site-packages/google/cloud/bigquery/job/query.py", line 1499, in result\n    do_get_result()\n  File "/usr/local/lib/python3.9/site-packages/google/api_core/retry.py", line 286, in retry_wrapped_func\n    return retry_target(\n  File "/usr/local/lib/python3.9/site-packages/google/api_core/retry.py", line 189, in retry_target\n    return target()\n  File "/usr/local/lib/python3.9/site-packages/google/cloud/bigquery/job/query.py", line 1489, in do_get_result\n    super(QueryJob, self).result(retry=retry, timeout=timeout)\n  File "/usr/local/lib/python3.9/site-packages/google/cloud/bigquery/job/base.py", line 728, in result\n    return super(_AsyncJob, self).result(timeout=timeout, **kwargs)\n  File "/usr/local/lib/python3.9/site-packages/google/api_core/future/polling.py", line 135, in result\n    raise self._exception\ngoogle.api_core.exceptions.BadRequest: 400 Query parameter \'crop_process\' not found at [7:21]\n\nLocation: EU\nJob ID: 066349e0-ee6b-4d11-8a33-35c43f977869\n\n'

In [259]:
response.json()

JSONDecodeError: [Errno Expecting value] Query SELECT
       CASE WHEN allYear = 'yes' then 'All Year'
            ELSE CONCAT(FORMAT_DATE('%b %d', start_date), ' to ' ,FORMAT_DATE('%b %d', end_date))
       END AS period,
       *
FROM `fao-maps-review.fao_crop_calendar.vw_crop_calendar_by_dates`
Where cropProcess = @crop_process
      AND cropId = @crop
 LIMIT 50000 is not acceptable due to error: Traceback (most recent call last):
  File "/app/app.py", line 212, in bigquery
    results = query_job.result()
  File "/usr/local/lib/python3.9/site-packages/google/cloud/bigquery/job/query.py", line 1499, in result
    do_get_result()
  File "/usr/local/lib/python3.9/site-packages/google/api_core/retry.py", line 286, in retry_wrapped_func
    return retry_target(
  File "/usr/local/lib/python3.9/site-packages/google/api_core/retry.py", line 189, in retry_target
    return target()
  File "/usr/local/lib/python3.9/site-packages/google/cloud/bigquery/job/query.py", line 1489, in do_get_result
    super(QueryJob, self).result(retry=retry, timeout=timeout)
  File "/usr/local/lib/python3.9/site-packages/google/cloud/bigquery/job/base.py", line 728, in result
    return super(_AsyncJob, self).result(timeout=timeout, **kwargs)
  File "/usr/local/lib/python3.9/site-packages/google/api_core/future/polling.py", line 135, in result
    raise self._exception
google.api_core.exceptions.BadRequest: 400 Query parameter 'crop_process' not found at [7:21]

Location: EU
Job ID: db7d2170-3604-46aa-9884-629421fbdb4f

: 0